html {
height: 100%;
}

body {
padding: 3em 5em 3em 3em;
height: 100%;
max-width: 600px;
margin-left: auto;
margin-right:auto;
/*border-left: black solid .1em;
border-right: black solid .1em;
border-bottom: black solid .1em;*/
background-color: white;
  display: block;
  font-family: 'Times New Roman', FreeSerif, 'Bravura Text', serif;
  /*font-family: roman, 'times new roman', times, serif; */

}

.links {
padding-left: 1.45em;
position: relative;
margin-bottom: 2em;

	line-height: 125%;
	letter-spacing:.021em;
	color: #666666;
	text-decoration: none;
	}
	.left {
	    width: 46%;
float: left;
margin: 0 0 1em 0;
background-color: #E4FAD7;
border: solid 1px;;
padding: 0 0 0 .5em;
	}
	.right {
	    width: 46%;
float: left;
margin: 0 0 1em 0;
background-color: #FAD7D9;
border: solid black 1px;;
padding: 0 0 0 .5em;
	}