 @font-face {
  font-family: 'FreeSerif';
  src: url('FreeSerif.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


body{
   color: #000000;
   background-color: #FFFFFF;
   margin: 10pt;
   padding:0;
   font-family:  arial, sans-serif;
  
}


table {
    border: solid black 1pt;
    word-break: break-all;
    font-size: .8em;
    width:90%;
   
}
table tr, td{
    border: solid black 1pt;
    max-width: 200px;
} 

table td {
/*max-width: 180px;*/
}

th {
    background-color: #a7c942;
    color: #fff;
    font-size: 1.4em;
    padding-bottom: 4px;
    padding-top: 5px;
    text-align: left;
}
td, th {
    border: 1px solid #98bf21;
    font-size: 1.2em;
    padding: 3px 7px 2px;
}


