/* =============================================================
    CSS2 specification for TEI in oXygen.
 derived from stylesheet byat
    Author: Adrian Edwards (adrian_edwards@yahoo.com)
    Date:   2000-04-19
 edited by Sebastian Rahtz (sebastian.rahtz@oucs.ox.ac.uk)
            2001-05-06
 2003-08-29 start of new parent div resets child auto-count. kl
 2003-11-06 list attr list-style-type was none, now disc. kl
 2007-06  reworking for TEI P5 and oxygen

$LastChangedDate$, $LastChangedRevision$, $LastChangedBy$
============================================================= */
/* Use Times New Roman for default font */

/*@namespace url(http://www.tei-c.org/ns/1.0);
@namespace xml url(http://www.w3.org/2001/XMLSchema-instance);*/

@font-face {
  font-family: 'Bravura Text';
  src: url('http://rilm.info/ft/BravuraText.woff') format('woff') /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: FreeSerif;
    src: url('http://rilm.info/ft/FreeSerif.woff') format('woff')
}


* {
    line-height: 1.5em;
}
TEI {
/*background-color:lightgray;*/
}
*[rend="bold"] {
  /*display: inline;*/
  font-weight: bold;
}
*[rend="italic"] {
  display: inline;
  font-style: italic;
}
 *[rend="roman"] {
  display:inline;
  font-style: normal;
  text-transform: inherit !important;
  font-variant: inherit !important;
 }
*[rend="underline"] {
  display: inline;
  text-decoration:underline;
}
*[rend="uppercase"] {
  display: inline;
  text-transform: uppercase;
}
*[rend="smallcaps"] {
  display: inline;
  font-variant: small-caps;
  font-style: inherit;
}
*[rend="sup"] {
  display: inline;
  vertical-align: super;
  font-size: 60%;
}
*[rend="sub"] {
  display: inline;
  vertical-align: sub;
  font-size: 60%;
}
*[rend="quoted-italic"] {
    display: inline;
    font-style:italic;
    
         quotes: '“' '”' '‘' '’'; 
 }
 
*[rend="quoted-italic"]:before {
     content: open-quote;
font-style: normal;
 }
*[rend="quoted-italic"]:after {
     content: close-quote;
font-style: normal;
 }

abbr {
  display: inline;
}
add {
  display: inline;
  color: green;
  background-color: inherit;
  text-decoration: underline;
}
address {
  display: block;
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
}
addrLine {
  display: block;
  white-space: nowrap;
}
anchor {
  display: none;
}
argument {
  display: block;
  margin-bottom: 0.5em;
}
att {
  display: inline;
  font-family: roman, 'times new roman', times, serif;
  color: blue;
  background-color: inherit;
}
att:before {
  content: "@";
}
author {
  display: inline;
  font-variant: small-caps;
}
bibl > author {
  display: inline;
  font-variant: small-caps;
  
}
    
back {
  display: block;
  border: thin black solid;
  margin-top: 1em;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}
bibl {
  display: inline;
}
    
biblFull {
  display: inline;
}
 

biblScope {
  display: inline;
}
    
imprint > biblScope {
  display: block;
}
    
birth:before {
content: "*";
}

body {
padding: 3em 5em 3em 3em;
max-width: 600px;
margin-left: auto;
margin-right:auto;
border-left: black solid .1em;
border-right: black solid .1em;
border-bottom: black solid .1em;
background-color: white;
  display: block;
  font-family: 'Times New Roman', FreeSerif, 'Bravura Text', serif;
  /*font-family: roman, 'times new roman', times, serif; */

}
byline {
  display: block;
  font-style: italic;
  margin-bottom: 0.5em;
}
category {
  display: block;
  margin-bottom: 1em;
}
catRef {
  display: none;
}
cell {
  display: table-cell;
  border: 1px solid #EEEFEE;
  padding: 3px;
  color: inherit;
  background-color:inherit;
}
cell[role='label'] {
   color: inherit;
   background-color: #BBBBBB;
}
change {
  display: block;
  margin-bottom: 1em;
  margin-left: 2em;
}
cit {
  display: inline;
}
    
classCode {
  display: block;
}
elementSpec, macroSpec, classSpec {
  display: block;
  margin-bottom: 1em;
}
closer {
  display: block;
  margin-bottom: 1em;
}
code {
  display: inline;
  font-family: monospace;
}
corr {
  display: inline;
  color: green;
  background-color: inherit;
}
creation {
  display: block;
}
date {
  display: inline;
}
    
change > date, publicationStmt > date {
  display: block;
  font-weight: bold;
}
dateline {
  display: inline;
}
death:before {
content: "†";
}
del {
  display: inline;
  color: red;
  background-color: inherit;
  text-decoration: line-through;
}

div[type="ography"], div[type="works"]{
    text-indent: 1em;
    font-size: .92em;
    display:block;
    padding-top: .5em;
}


div[type="contents"] {
 display: block;
 font-size:smaller;
 text-indent:1em;
 
}

div[type="works"] div[type="section"] {
    text-indent: -1em;
padding-left: 1em;
    display: block;
}


div[type="authors"] docAuthor {
    text-align: right;
}



divGen {
  display: none;
}
docAuthor {
  display: block;
  margin-bottom: 0.5em;
  margin-left: 2em;
    font-size: .85em;
    font-weight: bold;
     text-transform:uppercase
     }
    
byline docAuthor {
  display: inline;
}
 docAuthor[n]::before {
     content: attr(n) ". ";
 }   
    
edition {
  display: block;
  margin-bottom: 0.5em;
}
    
bibl edition {
  display: inline;
}
    
editionStmt {
  display: block;
  margin-bottom: 1em;
}
editor {
  display: block;
  margin-bottom: 0.5em;
}
    
bibl editor {
  display: inline;
}

bibl editor[subtype="primary"] surname {
      font-variant: small-caps;
}

bibl editor[subtype="primary"] abbr {
      font-variant: small-caps;
}
    
eg {
  font-family: monospace;
  padding-top: 3mm;
  padding-left: 4pt;
  padding-bottom: 2pt;
  display: block;
  margin-top: 12pt;
  margin-bottom: 12pt;
  white-space: pre;
  color: inherit;
  background-color: #FFCC99;
}
    
emph {
  display: inline;
  font-style: italic;
}
epigraph {
  display: block;
  margin-bottom: 1em;
  text-align: center;
}
    
extent {
  display: block;
  margin-bottom: 1em;
}
    
bibl extent {
  display: inline;
}

div[type="family"] div[type="bio"] > forename:first-of-type {
font-weight: bold;
}

figure, notatedMusic, tableFigure {
  display: block;
   margin: 2em 0em 2em 2em;
    font-style: italic;
}

foreign {
  display: inline;
  font-style: italic;
}

div[type='heading'] p persName[type='alt'] > surname, div[type='heading'] p persName[type='alt'] > forename {
    font-style: italic;
    font-weight: normal;
}

formula {
  display: inline;
  font-style: italic;
}
front {
  display: block;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}
funder {
  display: block;
  margin-bottom: 0.5em;
}

    
gap:after {
  content: "[...]";
  font-weight: bold;
  color: red;
}
gi,tag {
  display: inline;
  font-family: sans-serif;
  color: blue;
  background-color: inherit;
}
    
tag:before,gi:before {
  content: "<";
}
    
tag:after,gi:after {
  content: ">";
}
    
gloss {
  display: inline;
}
graphic{
    color: gray;
    background-color: inherit;
    content: "{" attr(url) "}";    
}
group {
  display: block;
  margin-bottom: 1em;
}
body > head {
    display: block;
    margin-left: 2em;
    margin-bottom: .25em;
    
}
 div[type="works"] >  head {
    display: block;
  text-transform: uppercase;
  text-indent: 1em;
 font-size: smaller;
  font-weight: bold;
}
div[type="ography"] > head {
     text-transform: uppercase;
    font-size: smaller;
    font-weight: bold;
    display:inline-block;

}
div[type="contents"] > head {
    text-transform: uppercase;
    font-size: smaller;
    font-weight: bold;
}


div[type="works"] > div > head {
    display:inline;
    font-weight:normal;
}
div[type="contents"] > list > item {
    display: inline;
}
div[type="section"] > head {
    display: inline;
    margin-top: 1em;   
}   
div[type="section"] > div >head {
    font-style:italic;
}
div[type="one-section"] > head, div[type="heading"] > head {
    font-weight:bold;
}

div:first-of-type>head {
    display: inline;
    }
 text[type='family']  list > head {
    font-variant: small-caps;
}
list > head {
    font-variant: small-caps;
}   
  div[type="works"] div[type="section"]>head {
      display:inline;
  }  
  
 head[n]::before, p[n]::before, list[n]::before {
    content: "\00a0\00a0\00a0 "attr(n) ". ";
    font-style:normal;
}  



ident {
  display: inline;
  font-family: monospace;
}
idno {
  display: block;
  margin-bottom: 1em;
}
    
bibl idno {
  display: inline;
}
        
imprint {
  display: inline;
}
index {
  display: none;
}

div[type="section"] list item, div[type="bio"] list item, div[type="criticism"] list item {
  display: block;
  
}

div[type="ography"] list item, div[type="works"] list item  {
  display: inline;
  
}
div[type="works"] div[type="section"] list item, div[type="ography"] div[type="section"] list item {
display: inline;
}    

    
item[n]:before {
  content: attr(n) ". " ;
  list-style: none;
} /* should there be space after the content?
     And should default marker be suppressed
     when there is an @n attribute? --DRS */
 
div[type='works']  list item + item:before,  div[type='ography']  list item + item:before{
     content: "; ";
 }

 
change item {
  display: block;
  margin-bottom: 0.5em;
  margin-left: 1em;
  margin-top: 0.5em;
}
keywords {
  display: block;
  margin-bottom: 0.5em;
}
kw {
  display: inline;
  font-style: italic;
}
l {
  display: block;
  white-space: nowrap;
}


langUsage {
  display: block;
  margin-bottom: 1em;
}
lb {
  display: block;
}
lg {
  display: block;
  margin-bottom: 0.5em;
}
list {
  display: block;
  list-style-type: disc;
  list-style-position: outside;
}
    
list[rend="runon"] {
  display: inline;
}
    
list[type="bulleted"] {
  list-style-type: disc;
  list-style-position: outside;
}
list[type="unordered"] {
  list-style-type: disc;
  list-style-position: outside;
}
list[type="ordered"] {
  list-style-type: decimal;
  list-style-position: outside;
}
    
list[type="numbered"] {
  list-style-type: decimal;
  list-style-position: outside;
}
list[type="none"] {
  list-style-type: none;
}

div[type="ography"] > head+div>list, div[type="works"] > head+div>list {
    display: inline;
}
div[type="ography"]>head+list, div[type="works"]>head+list {
    display: inline;
}
    div[type="works"] div[type="section"] list {
    display:inline;
}
listBibl {
  display: block;
  margin-bottom: 0.5em;
}
mentioned {
  display: inline;
  font-style: italic;
}
milestone {
  display: none;
}
musNote {
    font-style: italic;
}

name {
  display: inline;
}
docAuthor > name {
  display: inline;
  text-transform: uppercase;
  font-size: smaller;
}

note {
  display: inherit;
}
    
note[n]:before {
  content: attr(n);
  vertical-align: super;
}
    
note[place="left"] {
  float: left;
}
    
note[place="right"] {
  float: right;
}
    
note[place="inline"], note[place="unspecified"] {
  display: inline;
}

*[rend="italic"] > note {
    font-style: normal;
}
*[rend="quoted-italic"] > note {
    font-style: normal;
}

head > note {
    text-transform: none;
    font-size:medium;
    font-weight: normal;
    display:inline;
}

quote > note {
 font-style: normal;   
}
 div[type="works"] >  head > note {
     font-size:1.1em;
 }
notesStmt {
  display: block;
  margin-bottom: 1em;
}
num {
  display: inline;
}
opener {
  display: block;
  margin-bottom: 0.5em;
}
orgName {
    font-style: italic;
}
orgName[type='trans'] {
    font-style: normal;
}
div[type='heading'] orgName, div[type='heading'] orgName[type='preferred'] {
    font-weight:bold;
}
orig {
  display: inline;
}
p {
  display: block;
   text-indent: 1em;
  /*margin-bottom: 0.5em;*/
}
p[rend="block"] {
    margin-left:2em;
    text-indent:0;
}
div[type="section"] > head+p {
    display: inline;
    
}
div[type="section"] > head+p::after {
 content: '\A';
    white-space: pre;
}
div[type="ref"]>p::before {
    content: "Véase ";
    font-style: italic;
}
div[type="ref"]>p {
margin-bottom: 1em;
}



  div:first-of-type>head+p {
    display: inline; 
    }
    div[type="one-section"]>p:first-of-type {
        text-indent:0;
    }

    figure p {
        text-indent: 0;
        padding-left: 1em;
    }
pb {
  display: none;
}
    
pb:after {
  content: attr(n);
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: center;
}
    
text[type="person"]>body>div>p>rilmPerson>persName {
    font-weight:bold;
}
div[type='heading'] persName[type='preferred'] {
    font-style:normal;
}

pitch {
   font-style: italic;
}

principal {
  display: block;
  margin-bottom: 0.5em;
}
ptr {
    color: navy;
    text-decoration: underline;
    background-color: inherit;
}
ptr:before{
    background-color: inherit;
    color: red;
    content:"[" attr(target) "]";
}

publicationStmt {
  display: block;
  margin-bottom: 1em;
}
publisher {
  display: inline;
}
    
imprint > publisher, publicationStmt > publisher {
  display: block;
  margin-bottom: 0.5em;
}
pubPlace {
  display: inline;
}
    
imprint > pubPlace, publicationStmt > pubPlace {
  display: block;
  margin-bottom: 0.5em;
}
q {
  display: inline;
   quotes: '“' '”' '‘' '’';
  margin-top: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-bottom: 0em;
}
q[rend="single"] {
   quotes:  '‘' '’';
}
quote > q {
    quotes:  '‘' '’';
}

q > quote {
    quotes:  '‘' '’';
}
    
    
q:before {
  content: open-quote;
  font-style: normal;
}
    
q:after {
  content: close-quote;
  font-style: normal;
}
 quote {
     display:inline;
     font-style: italic;
     quotes: '“' '”' '‘' '’';
 }
 
 quote:before {
     content: open-quote;
      font-style: normal;
 }
 quote:after {
     content: close-quote;
      font-style: normal;
 }
 
ref {
  display: inline;
  color: blue;
  background-color: inherit;
}
ref[target*="mgg"]:before{
content: "→ ";
}

reg {
  display: inline;
  font-style: italic;
}
rendition {
  display: block;
  margin-bottom: 0.5em;
}
resp {
  display: inline;
}
respStmt {
  display: block;
}
    
bibl respStmt {
  display: inline;
}
    
rdg:before {
  background-color: inherit;
  content: "[" attr(wit) "] ";
  color: red;
  }
row {
  display: table-row;
}
row[role='label'] {
   color: inherit;
   background-color: #BBBBBB;
}

rs {
  display: inline;
}
s {
  display: inline;
}
salute {
  display: block;
  margin-bottom: 0.5em;
}
samplingDecl {
  display: block;
  margin-bottom: 1em;
}
seg {
  display: inline;
}
seriesStmt {
  display: block;
  margin-bottom: 1em;
}
sic {
  display: inline;
  color: red;
  background-color: inherit;
}
    
sic:after {
  content: " [sic]";
}
signed {
  display: block;
  text-align: right;
}
soCalled {
  display: inline;
  quotes: '‘' '’';
}
    
soCalled:before {
  content: open-quote;
  font-style: normal;
}
    
soCalled:after {
  content: close-quote;
  font-style: normal;
}
    
sp {
  display: block;
  margin-bottom: 0.5em;
  margin-left: 2em;
}
speaker {
  display: inline;
  font-weight: bold;
}
sponsor {
  display: block;
  margin-bottom: 0.5em;
}
stage {
  display: inline;
  font-style: italic;
}
div[type='heading'] persName > surname, div[type='heading'] persName[type='preferred'] > surname {
    font-weight: bold;
}

table {
  text-align: center;
  display: table;
  margin: 1em
}
table > head{
    display:table-caption;
    font-style: italic;
    margin-bottom: 6pt;
}

tagUsage {
  display: block;
  margin-bottom: 0.5em;
}
taxonomy {
  display: block;
  margin-bottom: 0.5em;
}

term {
  font-family: sans-serif;
  color: blue;
  background-color: inherit;
  display: inline;
}
textClass {
  display: block;
  margin-bottom: 0.5em;
}
time {
  display: inline;
}
title {
  display: inline;
  font-style:italic;
}
title[type='generic'] {
    font-style: normal;
}

title[type='translated'] {
    font-style:normal;
}

title[subtype="secondary"] {
    font-style:normal;
}
titleStmt > title {
    display:block   
}
titleStmt > title:before {
  content: "Title: ";
  } 
titlePage {
  display: block;
  border: thin black solid;
  margin-bottom: 2em;
  text-align: center;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}
titlePart {
  display: block;
}
titleStmt {
  font-size: large;
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;
}
trailer {
  display: block;
  margin-bottom: 1em;
}
unclear {
  display: inline;
  color: silver;
  background-color: inherit;
  font-style: italic;
}
/* header-related material */
teiHeader {
  display: none;
  font-family: sans-serif;
  color: silver;
  background-color: rgb(251, 242, 234);
  border: solid black 1pt;
  margin-bottom: 2em;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

 teiHeader biblStruct title:before  {
     content: 'Title: ';
 }
  teiHeader biblStruct editor:before  {
     content: 'Editor: ';
 }
  teiHeader biblStruct publisher:before  {
     content: 'Publisher: ';
 }
  teiHeader biblStruct pubPlace:before  {
     content: 'Place of publication: ';
 }
  teiHeader biblStruct date:before  {
     content: 'Year of publication: ';
 }
  teiHeader biblStruct biblScope[type='vol']:before  {
     content: 'Volume: ';
 }
   teiHeader biblStruct biblScope[type='col']:before  {
     content: 'Columns: ';
 }
    teiHeader biblStruct biblScope[type='part']:before  {
     content: 'Series: ';
 }
 
titleStmt > author {
  display: block;
  margin-bottom: 1em;
}
teiHeader biblScope {
    display: block;
    margin-bottom: .3em;
}
teiHeader > title {
 border: solid silver .5em;
    margin-bottom: 1em;
    padding: .5em;
    }

authority {
  display: block;
  margin-bottom: 0.5em;
}
availability {
  display: block;
  margin-bottom: 0.5em;
}
fileDesc {
  display: block;
  margin-bottom: 1em;
}
sourceDesc {
  display: block;
  border: thin silver solid;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}
revisionDesc {
  display: block;
  margin-bottom: 1em;
}
catDesc {
  display: block;
  margin-bottom: 0.5em;
}
encodingDesc {
  display: block;
  margin-bottom: 1em;
}
profileDesc {
  display: block;
  margin-bottom: 1em;
}
projectDesc {
  display: block;
  margin-bottom: 1em;
}
        
docDate {
  display: block;
  margin-bottom: 0.5em;
}
    
docImprint docDate {
  display: inline;
}
    
docEdition {
  display: block;
  margin-bottom: 0.5em;
}
docImprint {
  display: block;
  margin-bottom: 0.5em;
}
docTitle {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
}


/* OUCS additions */
Button {
	  font-family: monospace;
	  color: red;
	  font-weight: bold;
	  background-color: rgb(75%,75%,75%)
	  }
Value {
	  font-family: monospace;
	  color: rgb(255, 102, 0);
	  background-color: inherit;
	  }
Code {
	  font-family: monospace;
	  color: red;
	  background-color: inherit;
	  }
Field {
	   font-family: monospace;
	   color: red;
	   background-color: inherit;
	   }
Filespec {
	      font-family: monospace;
	      color: red;
	      background-color: inherit;
	      }
Input {
	   font-family: monospace;
	   color: green;
	   background-color: inherit;
	   }
Key {
	 font-family: monospace;
         text-decoration: underline;
	 color: green;
	 background-color: inherit;
	 }
Link {
	  font-family: monospace;
	  color: green;
	  background-color: inherit;
	  text-decoration: underline;
	  }
Menu {
	  font-family: monospace;
	  color: red;
	  background-color: inherit;
	  }
Output {
	    font-family: monospace;
	    color: red;
	    background-color: inherit;
	    }
Icon {
	color: inherit;
	background-color : #B0E0E6;
	font-weight : bold;
}
Screen {
  font-family: monospace;
  padding-top: 3mm;
  padding-left: 4pt;
  padding-bottom: 2pt;
  display: block;
  margin-top: 12pt;
  margin-bottom: 12pt;
  white-space: pre;
  color: inherit;
  background-color: #FFCC99;
   }


img {
    max-width: 100%;
}






