[submodule "schema/mgg"]
	path = schema/mgg
	url = https://github.com/RILMMusicLit/tei_schema.git
[submodule "schema/collections"]
	path = schema/collections
	url = https://github.com/RILMMusicLit/tei_schema.git
[submodule "schema/journals"]
	path = schema/journals
	url = https://github.com/RILMMusicLit/tei_schema.git
[submodule "schema/working"]
	path = schema/working
	url = https://github.com/RILMMusicLit/tei_schema.git
