/* =============================================================
    CSS2 specification for TEI in oXygen.
 derived from stylesheet by
    Author: Adrian Edwards (adrian_edwards@yahoo.com)
    Date:   2000-04-19
 edited by Sebastian Rahtz (sebastian.rahtz@oucs.ox.ac.uk)
            2001-05-06
 2003-08-29 start of new parent div resets child auto-count. klh
 2003-11-06 list attr list-style-type was none, now disc. kl
 2007-06  reworking for TEI P5 and oxygen

$LastChangedDate$, $LastChangedRevision$, $LastChangedBy$
============================================================= */
/* Use Times New Roman for default font */
@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext,greek-ext,greek);
@namespace xml "http://www.tei-c.org/ns/1.0";
TEI {
}

*[rend="bold"] {
  display: inline;
  font-weight: bold;
}
*[rend="italic"] {
  display: inline;
  font-style: italic;
}
*[rend="underline"] {
  display: inline;
  text-decoration:underline;
}
*[rend="uppercase"] {
  display: inline;
  text-transform: uppercase;
}
*[rend="smallcaps"] {
  display: inline;
  font-variant: small-caps;
}
*[rend="sup"] {
  display: inline;
  vertical-align: super;
  font-size: smaller;
}
*[rend="sub"] {
  display: inline;
  vertical-align: sub;
  font-size: smaller;
}
 
*[rend="quoted-italic"]:before {
     content: open-quote;
 }
*[rend="quoted-italic"]:after {
     content: close-quote;
 }
 
 text:lang(de) *[rend="quoted-italic"] {
    display: inline;
    font-style:italic;
    
         quotes: '„' '‟' '‚' '‛'; 
 }
 text:lang(en) *[rend="quoted-italic"] {
    display: inline;
    font-style:italic;
    
         quotes: '“' '”' '‘' '’'; 
 }
abbr {
  display: inline;
}
add {
  display: inline;
  color: green;
  background-color: inherit;
  text-decoration: underline;
}
address {
  display: block;
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
}
addrLine {
  display: block;
  white-space: nowrap;
}
anchor {
  display: none;
}
argument {
  display: block;
  margin-bottom: 0.5em;
}
att {
  display: inline;
  font-family: roman, 'times new roman', times, serif;
  color: blue;
  background-color: inherit;
}
att:before {
  content: "@";
}
author {
  display: inline;
  font-weight:bold;
}
    
back {
  display: block;
  border: thin black solid;
  margin-top: 1em;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}
bibl {
  display: inline;
}
    
biblFull {
  display: inline;
}
 

biblScope {
  display: inline;
}
    
birth:before {
content: "*";
}

imprint > biblScope {
  display: block;
}
    
body {
  margin-top: 5px;
  margin-left: 10px;
  display: block;
  counter-reset: div1;
  font-family: 'open sans', arial, helvetica, sans-serif, 'arial unicode ms'

}
byline {
  display: block;
  font-style: italic;
  margin-bottom: 0.5em;
}
category {
  display: block;
  margin-bottom: 1em;
}
catRef {
  display: none;
}
cell {
  display: table-cell;
  border: 1px solid #EEEFEE;
  padding: 3px;
  color: inherit;
  background-color:inherit;
}
cell[role='label'] {
   color: inherit;
   background-color: #BBBBBB;
}
change {
  display: block;
  margin-bottom: 1em;
  margin-left: 2em;
}
cit {
  display: inline;
}
    
classCode {
  display: block;
}
elementSpec, macroSpec, classSpec {
  display: block;
  margin-bottom: 1em;
}
closer {
  display: block;
  margin-bottom: 1em;
}
code {
  display: inline;
  font-family: monospace;
}
corr {
  display: inline;
  color: green;
  background-color: inherit;
}
creation {
  display: block;
}
date {
  display: inline;
}
    
change > date, publicationStmt > date {
  display: block;
  font-weight: bold;
}
dateline {
  display: inline;
}
death:before {
content: "†";
}
del {
  display: inline;
  color: red;
  background-color: inherit;
  text-decoration: line-through;
}


/*div[type="works"], div[type="ography"] {
    font-size: smaller;
}*/


divGen {
  display: none;
}
docAuthor {
  display: block;
  margin-bottom: 0.5em;
  margin-left: 2em;
}
    
byline docAuthor {
  display: inline;
}
    
titlePage docAuthor {

}
    
titlePage docTitle {

}
    
edition {
  display: block;
  margin-bottom: 0.5em;
}
    
bibl edition {
  display: inline;
}
    
editionStmt {
  display: block;
  margin-bottom: 1em;
}
editor {
  display: block;
  margin-bottom: 0.5em;
}
    
bibl editor {
  display: inline;
}
    
eg {
  font-family: monospace;
  padding-top: 3mm;
  padding-left: 4pt;
  padding-bottom: 2pt;
  display: block;
  margin-top: 12pt;
  margin-bottom: 12pt;
  white-space: pre;
  color: inherit;
  background-color: #FFCC99;
}
    
emph {
  display: inline;
  font-style: italic;
}
epigraph {
  display: block;
  margin-bottom: 1em;
  text-align: center;
}
    
extent {
  display: block;
  margin-bottom: 1em;
}
    
bibl extent {
  display: inline;
}
 
graphic{
    color: gray;
    background-color: inherit;
    content: "{" attr(url) "}";    
}
figure {
  display: block;
  margin-bottom: 1em;
  border: .1em solid black;
  padding: .5em;
  margin: 1em;
}
foreign {
  display: inline;
  font-style: italic;
}
formula {
  display: inline;
  font-style: italic;
}
front {
  display: block;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}
funder {
  display: block;
  margin-bottom: 0.5em;
}
gap {
  display: none;
}
    
gap:after {
  content: "[...]";
  font-style: italic;
}
gi,tag {
  display: inline;
  font-family: sans-serif;
  color: blue;
  background-color: inherit;
}
    
tag:before,gi:before {
  content: "<";
}
    
tag:after,gi:after {
  content: ">";
}
    
gloss {
  display: inline;
}
group {
  display: block;
  margin-bottom: 1em;
}

/*
body > div > head:before {
  content: counter(div1) ". ";
  color: black;
  background-color: inherit;
}
body > div > div > head:before {
  content: counter(div1) "." counter(div2) ". ";
  color: black;
  background-color: inherit;
}*/

hi {
  display: inline;
  background-color:yellow;
  color: black;
}

hi[rend] {
  background-color: inherit;
  color: inherit;
}
body > head {
    display: block;
    margin-left: 2em;
    margin-bottom: .25em;   
}

/*div[type="works"] >  head {
    display: inline-block;
  text-transform: uppercase;
  text-indent: 2em;
  font-size: smaller;
  font-weight: bold;
}*/
div[type="ography"] > list > head, div[type="works"] > list > head {
     text-transform: uppercase;
     font-weight: bold;
     display: inline-block;
    
}

div[type="section"] > head {
    font-style: italic;
}

table > head{
    display:table-caption;
    font-style: italic;
    margin-bottom: 6pt;
}

ident {
  display: inline;
  font-family: monospace;
}
idno {
  display: block;
  margin-bottom: 1em;
}
    
bibl idno {
  display: inline;
}
        
imprint {
  display: inline;
}

interp {
  display: none;
}
interpGrp {
  display: none;
}
list[type = "gloss"] item {
  display: block;
  margin-left: 1em;
}

list item {
  display:block;
 /* display: list-item;*/
}
div[type="works"] list item {
    display: block;
}

item[n]:before {
  content: attr(n) ". " ;
  list-style: none;
} /* should there be space after the content?
     And should default marker be suppressed
     when there is an @n attribute? --DRS */
 

 
change item {
  display: block;
  margin-bottom: 0.5em;
  margin-left: 1em;
  margin-top: 0.5em;
}
keywords {
  display: block;
  margin-bottom: 0.5em;
}
kw {
  display: inline;
  font-style: italic;
}
l {
  display: block;
  white-space: nowrap;
}
l[rend="indent"] {
   text-indent: 3.5em; 
}
/*label {
  display: inline;
  font-weight: bold;
}
Label {
	display: inline;
	font-weight : bold;
	color : #2F4F4F;
           background-color: inherit;
}*/
    

langUsage {
  display: block;
  margin-bottom: 1em;
}
lb {
  display: block;
}
lg {
  display: block;
  margin-bottom: 0.5em;
}
list {
  display: block;
  list-style-type: disc;
  list-style-position: outside;
  margin-bottom: 1em;
  margin-top: .5em;
}
    
list[rend="runon"] {
  display: inline;
}
    
list[type="bulleted"] {
  list-style-type: disc;
  list-style-position: outside;
}
list[type="unordered"] {
  list-style-type: disc;
  list-style-position: outside;
}
list[type="ordered"] {
  list-style-type: decimal;
  list-style-position: outside;
}
    
list[type="numbered"] {
  list-style-type: decimal;
  list-style-position: outside;
}
list[type="none"] {
  list-style-type: none;
}
    
listBibl {
  display: block;
  margin-bottom: 0.5em;
}
mentioned {
  display: inline;
  font-style: italic;
}
milestone {
  display: none;
}
name {
  display: inline;
}
docAuthor > name {
  display: inline;
  text-transform: uppercase;
  font-size: smaller;
}
bibl > author {
  display: inline;
  
}
note {
  display: inline;
}
        
note[place="left"] {
  float: left;
}
    
note[place="right"] {
  float: right;
}
    
note[place="inline"], note[place="unspecified"] {
  display: inline;
}



note[place="foot"], note[place="end"] {
border: black solid .1em;
background-color:#E8EDED;
font-size: small;
 }


note[n]:before {
  content: attr(n);
  vertical-align: super;
  font-size: .8em;
}

head > note {
    text-transform: none;
    font-size:medium;
    font-weight: normal;
    display:inline;
}

notesStmt {
  display: block;
  margin-bottom: 1em;
}
num {
  display: inline;
}
opener {
  display: block;
  margin-bottom: 0.5em;
}
orig {
  display: inline;
}
p {
  display: block;
  text-indent: 1em;
  /*margin-bottom: 0.5em;*/
}

div[type="bio"] p {
    margin-bottom:1em;
}
pb {
  display: none;
}
    
pb:after {
  content: attr(n);
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: center;
}
    
principal {
  display: block;
  margin-bottom: 0.5em;
}
ptr {
    color: navy;
    text-decoration: underline;
    background-color: inherit;
}
ptr:before{
    background-color: inherit;
    color: red;
    content:"[" attr(target) "]";
}

publicationStmt {
  display: block;
  margin-bottom: 1em;
}
publisher {
  display: inline;
}
    
imprint > publisher, publicationStmt > publisher {
  display: block;
  margin-bottom: 0.5em;
}
pubPlace {
  display: inline;
}
    
imprint > pubPlace, publicationStmt > pubPlace {
  display: block;
  margin-bottom: 0.5em;
}
text:lang(de) q {
  display: inline;
  quotes: '„' '‟' '‚' '‛';
  margin-top: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-bottom: 0em;
}


text:lang(en) q {
  display: inline;
 quotes: '“' '”' '‘' '’';
  margin-top: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-bottom: 0em;
}

text:lang(de) q[rend="single"] {
    quotes:  '‚' '‛'
}
text:lang(en) q[rend="single"] {
    quotes:  '‘' '’'
}
text:lang(de) quote > q {
    quotes: '‚' '‛';
}
text:lang(en) quote > q {
    quotes: '‘' '’';
}

text:lang(de) q > quote {
    quotes: '‚' '‛';
}
text:lang(en) q > quote {
    quotes: '‘' '’';
}
    
    
q:before {
  content: open-quote;
}
    
q:after {
  content: close-quote;
}
q[rend="left-double"]:before {
    content: open-quote;
}
q[rend="right-double"]:after {
    content: close-quote;
}
text:lang(en) q[rend="left-double"] {
    quotes: '“' '' ;
}
text:lang(en) q[rend="right-double"] {
    quotes: '' '”'; 
}

 text:lang(de) quote {
     display:inline;
     quotes: '„' '‟' '‚' '‛';
 }
  text:lang(en) quote {
     display:inline;
      quotes: '“' '”' '‘' '’';
 }
 
  
 
 quote:before {
     content: open-quote;
 }
 quote:after {
     content: close-quote;
 }
 
 quote[rend="block"], cit[rend="block"] {
  display: block;
  margin: 1em 3em 1em 3em;
  quotes: none;
}
cit[rend="block"] quote {
    quotes: none;
}
 
ref {
  display: inline;
  color: blue;
  background-color: inherit;
}
/*ref:before{
    color: gray;
    background-color: inherit;
    text-decoration: underline;
    content:'{' attr(target) '}';
}*/

reg {
  display: inline;
  font-style: italic;
}
rendition {
  display: block;
  margin-bottom: 0.5em;
}
resp {
  display: inline;
}
respStmt {
  display: block;
}
run {
    color: fuchsia; 
}
    
bibl respStmt {
  display: inline;
}
    
rdg:before {
  background-color: inherit;
  content: "[" attr(wit) "] ";
  color: red;
  }
row {
  display: table-row;
}
row[role='label'] {
   color: inherit;
   background-color: #BBBBBB;
}

rs {
  display: inline;
}
s {
  display: inline;
}
salute {
  display: block;
  margin-bottom: 0.5em;
}
samplingDecl {
  display: block;
  margin-bottom: 1em;
}
seg {
  display: inline;
}
seriesStmt {
  display: block;
  margin-bottom: 1em;
}
sic {
  display: inline;
  color: red;
  background-color: inherit;
}
    
sic:after {
  content: " [sic]";
}
signed {
  display: block;
  text-align: right;
}
text:lang(de) soCalled {
  display: inline;
  quotes: '‚' '‛';
}
 text:lang(en) soCalled {
  display: inline;
  quotes: '‘' '’';
}   
   
    
    
soCalled:before {
  content: open-quote;
}
    
soCalled:after {
  content: close-quote;
}
    
sp {
  display: block;
  margin-bottom: 0.5em;
  margin-left: 2em;
}
speaker {
  display: inline;
  font-weight: bold;
}
sponsor {
  display: block;
  margin-bottom: 0.5em;
}
stage {
  display: inline;
  font-style: italic;
}

div[type="bio"] > surname[type="alt"] {
font-weight: normal;
}


table {
  text-align: center;
  display: table;
  margin: 1em
}


tagUsage {
  display: block;
  margin-bottom: 0.5em;
}
taxonomy {
  display: block;
  margin-bottom: 0.5em;
}
term {
  font-family:inherit;
  text-shadow: 0 0 .03em #070E26;
  background-color: inherit;
  display: inline;
}
textClass {
  display: block;
  margin-bottom: 0.5em;
}
time {
  display: inline;
}
title {
  display: inline;
}
/*
title {
    display: inline;
    
quotes:  "«" "»"  "‹" "›";
 }
 
title:before {
     content: open-quote;
 }
title:after {
     content: close-quote;
 }

*/
title {
    font-style: italic;
}


text:lang(de) title[type='article'] {
    font-style: normal;
 display: inline;
    
quotes:  '„' '‟' '‚' '‛';
 }
 text:lang(en) title[type='article'] {
    font-style: normal;
 display: inline;
 
 quotes: '“' '”' '‘' '’'; 
 }
title[type='article']:before {
     content: open-quote;
 }
title[type='article']:after {
     content: close-quote;
 }
 text:lang(de) title[type='work-short'] {
    font-style: normal;
 display: inline;
    
quotes:  '„' '‟' '‚' '‛';
 }
  text:lang(en) title[type='work-short'] {
    font-style: normal;
 display: inline;
 quotes: '“' '”' '‘' '’'; 
 }
title[type='work-short']:before {
     content: open-quote;
 }
title[type='work-short']:after {
     content: close-quote;
 }
    
titlePage {
  display: block;
  border: thin black solid;
  margin-bottom: 2em;
  text-align: center;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}
titlePart {
  display: block;
}
titleStmt {
  font-size: large;
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;
}
trailer {
  display: block;
  margin-bottom: 1em;
}
unclear {
  display: inline;
  color: silver;
  background-color: inherit;
  font-style: italic;
}
/* header-related material */
teiHeader {
  display: block;
  font-family: sans-serif;
  color: silver;
  background-color: rgb(251, 242, 234);
  border: solid black 1pt;
  margin-bottom: 2em;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}
 teiHeader biblStruct title:before  {
     content: 'Title: ';
 }
  teiHeader biblStruct editor:before  {
     content: 'Editor: ';
 }
  teiHeader biblStruct publisher:before  {
     content: 'Publisher: ';
 }
  teiHeader biblStruct pubPlace:before  {
     content: 'Place of publication: ';
 }
  teiHeader biblStruct date:before  {
     content: 'Year of publication: ';
 }
  teiHeader biblStruct biblScope[type='vol']:before  {
     content: 'Volume: ';
 }
   teiHeader biblStruct biblScope[type='col']:before  {
     content: 'Columns: ';
 }
    teiHeader biblStruct biblScope[type='part']:before  {
     content: 'Series: ';
 }
 
titleStmt > author {
  display: block;
  margin-bottom: 1em;
}
teiHeader biblScope {
    display: block;
    margin-bottom: .3em;
}
teiHeader > title {
 border: solid silver .5em;
    margin-bottom: 1em;
    padding: .5em;
    }

authority {
  display: block;
  margin-bottom: 0.5em;
}
availability {
  display: block;
  margin-bottom: 0.5em;
}
fileDesc {
  display: block;
  margin-bottom: 1em;
}
sourceDesc {
  display: block;
  border: thin silver solid;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}
revisionDesc {
  display: block;
  margin-bottom: 1em;
}
catDesc {
  display: block;
  margin-bottom: 0.5em;
}
encodingDesc {
  display: block;
  margin-bottom: 1em;
}
profileDesc {
  display: block;
  margin-bottom: 1em;
}
projectDesc {
  display: block;
  margin-bottom: 1em;
}
        
docDate {
  display: block;
  margin-bottom: 0.5em;
}
    
docImprint docDate {
  display: inline;
}
    
docEdition {
  display: block;
  margin-bottom: 0.5em;
}
docImprint {
  display: block;
  margin-bottom: 0.5em;
}
docTitle {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
}


/* OUCS additions */
Button {
	  font-family: monospace;
	  color: red;
	  font-weight: bold;
	  background-color: rgb(75%,75%,75%)
	  }
Value {
	  font-family: monospace;
	  color: rgb(255, 102, 0);
	  background-color: inherit;
	  }
Code {
	  font-family: monospace;
	  color: red;
	  background-color: inherit;
	  }
Field {
	   font-family: monospace;
	   color: red;
	   background-color: inherit;
	   }
Filespec {
	      font-family: monospace;
	      color: red;
	      background-color: inherit;
	      }
Input {
	   font-family: monospace;
	   color: green;
	   background-color: inherit;
	   }
Key {
	 font-family: monospace;
         text-decoration: underline;
	 color: green;
	 background-color: inherit;
	 }
Link {
	  font-family: monospace;
	  color: green;
	  background-color: inherit;
	  text-decoration: underline;
	  }
Menu {
	  font-family: monospace;
	  color: red;
	  background-color: inherit;
	  }
Output {
	    font-family: monospace;
	    color: red;
	    background-color: inherit;
	    }
Icon {
	color: inherit;
	background-color : #B0E0E6;
	font-weight : bold;
}
Screen {
  font-family: monospace;
  padding-top: 3mm;
  padding-left: 4pt;
  padding-bottom: 2pt;
  display: block;
  margin-top: 12pt;
  margin-bottom: 12pt;
  white-space: pre;
  color: inherit;
  background-color: #FFCC99;
   }

/*div[type="heading"] > rilmPerson > persName > surname[type='preferred'] {
font-weight: bold;
}
div[type="heading"] > rilmPerson  > persName > surname[type='alt'] {
font-weight: normal;
}

div[type="heading"] > orgName, orgName[type='preferred'] {
    font-weight:bold;
}*/

div[type="heading"] {
    font-weight: bold;
}
text[type='family']  list > head {
    font-variant: small-caps;
}
list > head {
    font-variant: small-caps;
}
docAuthor {
    text-transform:uppercase
}
