@import url(https://fonts.googleapis.com/css?family=Alegreya+SC:400,700|Alegreya:400,400i,700,700i&subset=latin-ext);
div{
    display: inline;
    margin: 0px;
}
div.rilm-nodename-div,
div.rilm-nodename-p{
    clear: both;
    display: block;
    margin-bottom: 1.7em;
}
.rilm-p > img{
    height: 1em;
    width: auto;
    display: inline;
    border: none;
    margin: 0 0 0 0;
    padding: 0 0 0 .5em;
    color: inherit;
}
.rilm-formula > img{
    height: 1.2em;
    vertical-align: text-bottom;
    color: inherit;
}
@font-face{
    font-family: 'Bravura Text';
    src: url('/public/rilm-common/fonts/BravuraText.woff') format('woff');
}
@font-face{
    font-family: FreeSerif;
    src: url('/public/rilm-common/fonts/FreeSerif.woff') format('woff');
}
/*Above this point for this file only*/
*{
    line-height: 1.75em;
}
.rilm-abbr{
    display: inline;
}
.rilm-bibl .rilm-author{
    display: inline;
    /*font-variant: small-caps;*/
    font-family: 'Alegreya SC';
}
/*  @supports(font-feature-settings: 'smcp') {
    .rilm-bibl .rilm-author {
        font-variant: normal;
        -moz-font-feature-settings: "smcp";
        -webkit-font-feature-settings: "smcp";
        font-feature-settings: "smcp";
    }
}*/
.rilm-bibl .rilm-author.rilm-subtype_secondary{
    font-variant: normal;
    text-transform: none;
    font-family: Alegreya;
    -moz-font-feature-settings: "smcp" off;
    -webkit-font-feature-settings: "smcp" off;
    font-feature-settings: "smcp" off;
}
.rilm-author.rilm-role_librettist,
.rilm-author.rilm-role_lyricist,
.rilm-author.rilm-role_performer,
.rilm-author.rilm-role_director{
    font-variant: normal;
}
.rilm-bibl{
    display: inline;
}
.rilm-biblScope{
    display: inline;
}
.rilm-body{
    font-weight: 400;
    font-family: Alegreya, 'Bravura Text', Georgia, serif;
    /*font-family: Skolar, sans-serif, 'Bravura Text';*/
    font-variant-numeric: oldstyle-nums;
    font-feature-settings: "onum";
    line-height: 1.75em;
    letter-spacing: .01em;
}
.rilm-cell{
    display: table-cell;
    box-sizing:border-box;
	text-align:left;
	padding: 0.5em;
	position: relative;
}
.rilm-cell.rilm-role_label {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.1em;
}
/*@supports(font-feature-settings: 'c2sc', 'smcp') {
    row[role='label'] {
        text-transform: none;  
        -moz-font-feature-settings: "c2sc", "smcp";
        -webkit-font-feature-settings: "c2sc", "smcp";
        font-feature-settings: "c2sc", "smcp";
    }
}*/
.rilm-cit{
    display: inline;
}
.rilm-cit.rilm-rend_block{
    display: block;
    padding: 0 3em 0 3em;
    box-sizing: border-box;
    text-indent: 0;
}
.rilm-date{
    display: inline;
}
.rilm-div ~ .rilm-div {
    display: block;
    margin: 2em 0 1em 0;
}
.rilm-p + .rilm-div.rilm-type_authors,
.rilm-list + .rilm-div.rilm-type_authors,
table + .rilm-div.rilm-type_authors{
    display: block;
    margin-top: 1em;
}
.rilm-div.rilm-type_contents{
    margin-top: 1em;
}
.rilm-div.rilm-type_heading + .rilm-div{
    margin-top: 1em;
}
.rilm-div.rilm-type_heading{
    display: block;
    margin-bottom: 1em;
}
rilm.text.rilm-type_family .rilm-div.rilm-type_heading .rilm-div.rilm-type_contents{
    margin-left: 2em;
}
.rilm-docAuthor{
    font-weight: 600;
    display: block;
    margin-bottom: 0.5em;
    margin-left: 2em;
}
.rilm-bibl .rilm-edition{
    display: inline;
}
.rilm-bibl .rilm-editor{
    display: inline;
}
.rilm-bibl .rilm-editor.rilm-subtype_primary{
    /*font-variant: small-caps;*/
    font-family: 'Alegreya SC';
}
/*    @supports(font-feature-settings: 'smcp') {
    .rilm-bibl  .rilm-editor.rilm-subtype_primary {
        font-variant: normal;
        -moz-font-feature-settings: "smcp";
        -webkit-font-feature-settings: "smcp";
        font-feature-settings: "smcp";
    }
}*/
.rilm-emph{
    display: inline;
    font-style: italic;
}
.rilm-figure,
.rilm-notatedMusic,
.rilm-tableFigure{
    display: block;
    font-style: italic;
    margin: 2em;
}
.rilm-foreign{
    display: inline;
    font-style: italic;
}
.rilm-formula{
    display: inline;
    font-style: italic;
}
.rilm-rilmPerson.rilm-n > .rilm-persName > .rilm-forename{
    font-weight: 600;
    font-style: normal;
}
.rilm-div.rilm-type_person .rilm-p.rilm-n > .rilm-rilmPerson:first-of-type > .rilm-persName > .rilm-forename{
    font-weight: 600;
    font-style: normal;
}
.rilm-text.rilm-type_family .rilm-div.rilm-type_bio .rilm-forename:first-of-type, .rilm-text.rilm-type_family .rilm-div.rilm-type_narrative .rilm-forename:first-of-type{
    font-weight: 600;
}
.rilm-div.rilm-type_heading .rilm-p .rilm-persName.rilm-type_alt .rilm-surname,
.rilm-div.rilm-type_heading .rilm-p .rilm-persName.rilm-type_alt .rilm-forename{
    font-style: italic;
    font-weight: 400;
}
.rilm-g {
display: inline-block;
position: relative;
}
.rilm-g.rilm-data-tei-ref_accidentalBakiyeFlat{
    font-size: 2em;
    transform: translateY(130%);
    line-height: 0.22em;
    display: inline-block;
    position: relative;
    }
.rilm-g.rilm-data-tei-ref_accidentalFlat{
    font-size: 2em;
    transform: translateY(130%);
    line-height: 0.22em;
    display: inline-block;
    position: relative;
    }
.rilm-g.rilm-data-tei-ref_accidentalNatural{
    font-size: 2em;
    transform: translateY(100%);
    line-height: 0.22em;
    display: inline-block;
    position: relative;
}
.rilm-g.rilm-data-tei-ref_accidentalSharp{
    font-size: 2em;
    transform: translateY(100%);
    line-height: 0.22em;
    display: inline-block;
    position: relative;
    }
.rilm-g.rilm-data-tei-ref_accidentalSori{
    font-size: 1.8em;
    transform: translateY(60%);
    line-height: 0.22em;
    width: .4em;
    display: inline-block;
    position: relative;
    }
.rilm-g.rilm-data-tei-ref_csymDiminished{
    font-size: .6em;
    transform: translateY(-260%);
    line-height: 0.22em;
    width: 1em;
    display: inline-block;
    position: relative;
    }
.rilm-g.rilm-data-tei-ref_figbass6Raised{
    font-size: 1.4em;
    line-height: 0.21em;
    display: inline-block;
    position: relative;
}
.rilm-g.rilm-data-tei-ref_gClefSharp5Below{
    font-size: 1.3em;
    transform: translateY(-100%);
    line-height: 0.22em;
    width: .6em;
    display: inline-block;
    position: relative;
    }
.rilm-g.rilm-data-tei-ref_medRenFlatHardB{
    font-size: 2.2em;
    transform: translateY(135%);
    line-height: 0.22em;
    display: inline-block;
    position: relative;
    }
.rilm-g.rilm-data-tei-ref_mensuralProlation2{
    font-size: 1.8em;
    transform: translateY(110%);
    line-height: 0.21em;
    display: inline-block;
    position: relative;
    }
.rilm-g.rilm-data-tei-ref_mensuralProlation3{
    font-size: 1.8em;
    transform: translateY(110%);
    line-height: 0.21em;
    display: inline-block;
    position: relative;
    }
.rilm-g.rilm-data-tei-ref_mensuralProlation5{
    font-size: 1.8em;
    transform: translateY(110%);
    line-height: 0.21em;
    display: inline-block;
    position: relative;
    }
.rilm-g.rilm-data-tei-ref_mensuralProlation6{
    font-size: 1.8em;
    transform: translateY(110%);
    line-height: 0.21em;
    display: inline-block;
    position: relative;
    }
.rilm-g.rilm-data-tei-ref_mensuralProlation9{
    font-size: 1.8em;
    transform: translateY(110%);
    line-height: 0.21em;
    display: inline-block;
    position: relative;
    }
.rilm-g.rilm-data-tei-ref_noteHalfUp{
    font-size: 1.4em;
    transform: translateY(160%);
    line-height: 0.22em;
    display: inline-block;
    position: relative;
    }
.rilm-g.rilm-data-tei-ref_timeSigCommon{
    font-size: 1.8em;
    transform: translateY(-100%);
    line-height: 0.22em;
    display: inline-block;
    position: relative;
    }
.rilm-g.rilm-data-tei-ref_timeSigCutCommon{
    font-size: 1.8em;
    transform: translateY(-100%);
    line-height: 0.22em;
    display: inline-block;
    position: relative;
    }
.rilm-g.rilm-data-tei-ref_timeSig6over8{
    font-size: 1.4em;
    transform: translateY(20%);
    line-height: 0.22em;
    width: .45em;
    display: inline-block;
    position: relative;
 }   
.rilm-graphic{
    display: block;
    border: 1px solid #000;
    margin: 5px 5px 5px 0;
    padding: 10px;
    box-sizing: border-box;
    background-color: inherit;
    content: none !important;
    clear: both;
}
.rilm-formula > .rilm-graphic{
    display: inline;
    border: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-indent: 0;
}
.rilm-div.rilm-type_section > .rilm-head{
    display: block;
    font-weight: 600;
    margin-bottom: .5em;
}
.rilm-div.rilm-type_works .rilm-div.rilm-type_section > .rilm-head,
.rilm-div.rilm-type_ography .rilm-div.rilm-type_section > .rilm-head{
    text-indent: 0;
    padding-bottom: .5em;
}
.rilm-div.rilm-type_contents > .rilm-head{
    text-transform: uppercase;
    font-size: .92em;
    font-weight: 600;
}
/*       @supports(font-feature-settings: 'c2sc', 'smcp') {
    .rilm-div.rilm-type_contents > .rilm-head { 
    	font-size: 1em;     
    	text-transform: none; 
        -moz-font-feature-settings: "c2sc", "smcp";
        -webkit-font-feature-settings: "c2sc", "smcp";
        font-feature-settings: "c2sc", "smcp";
    }
}*/
.rilm-text.rilm-type_family > .rilm-div.rilm-type_heading > .rilm-div.rilm-type_contents .rilm-head{
    display: inline;
}
.rilm-head.rilm-n_A,
.rilm-head.rilm-n_B,
.rilm-head.rilm-n_C,
.rilm-head.rilm-n_D,
.rilm-head.rilm-n_E,
.rilm-head.rilm-n_F,
.rilm-head.rilm-n_G,
.rilm-head.rilm-n_H,
.rilm-head.rilm-n_I,
.rilm-head.rilm-n_J,
.rilm-head.rilm-n_K,
.rilm-head.rilm-n_L,
.rilm-head.rilm-n_M,
.rilm-head.rilm-n_N,
.rilm-head.rilm-n_O,
.rilm-head.rilm-n_P,
.rilm-head.rilm-n_Q,
.rilm-head.rilm-n_R,
.rilm-head.rilm-n_S,
.rilm-head.rilm-n_T,
.rilm-head.rilm-n_U,
.rilm-head.rilm-n_V,
.rilm-head.rilm-n_W,
.rilm-head.rilm-n_X,
.rilm-head.rilm-n_Y,
.rilm-head.rilm-n_Z{
    display: block;
    font-style: italic;
}
.rilm-div.rilm-type_ography .rilm-head, .rilm-div.rilm-type_works .rilm-head {
	font-style: normal;
}
.rilm-div.rilm-type_ography > .rilm-head, .rilm-div.rilm-type_works > .rilm-head{
    text-transform: uppercase;
    font-weight: 600;
    text-indent: inherit;
    display: block;
    margin: 1em 0 .75em 0;
    font-size: .92em;
}
/*       @supports(font-feature-settings: 'c2sc', 'smcp') {
    .rilm-div.rilm-type_ography > .rilm-head, rilm.div.rilm-type_works > .rilm-head { 
    	font-size: 1.1em;  
    	text-transform: none;   
        -moz-font-feature-settings: "c2sc", "smcp";
        -webkit-font-feature-settings: "c2sc", "smcp";
        font-feature-settings: "c2sc", "smcp";
    }
}*/
.rilm-bibl .rilm-idno{
    display: inline;
}
.rilm-img{
    display: block;
    border: 1px solid #000;
    margin: .35em .35em .35em 0;
    box-sizing: border-box;
    background-color: inherit;
    content: none !important;
    clear: both;
}
.rilm-item{
    display: list-item;
}
.rilm-item.rilm-n:before{
    list-style: none;
}
.rilm-p .rilm-item{
    display: block;
}
.rilm-div.rilm-type_contents .rilm-list .rilm-item{
    display: block;
}
.rilm-div.rilm-type_section .rilm-list .rilm-item,
.rilm-div.rilm-type_bio .rilm-list .rilm-item,
.rilm-div.rilm-type_narrative .rilm-list .rilm-item,
.rilm-div.rilm-type_criticism .rilm-list .rilm-item{
    display: block;
    margin-bottom: 1.5em;
}
.rilm-div.rilm-type_ography .rilm-list .rilm-item,
.rilm-div.rilm-type_works .rilm-list .rilm-item{
    text-indent: -1.5em;
    display: list-item;
    padding-left: 1.5em;
    margin-bottom: .6em;
    box-sizing: border-box;
}
.rilm-l{
    display: block;
    white-space: nowrap;
}
.rilm-lb{
    display: block;
}
.rilm-lg{
    display: block;
    margin-bottom: 0.5em;
}
.rilm-div.rilm-type_ography .rilm-list,
.rilm-div.rilm-type_works .rilm-list{
    display: block;
    list-style-type: none;
    margin-bottom: 1em;
    margin-top: .5em;
}
.rilm-list.rilm-rend_list{
    list-style-type: disc;
    list-style-position: outside;
}
.rilm-list.rilm-rend_inline{
    display: inline;
}
.rilm-list.rilm-rend_bulleted{
    list-style-type: disc;
    list-style-position: outside;
}
.rilm-list.rilm-rend_numbered{
    list-style-type: decimal;
    list-style-position: outside;
}
.rilm-list.rilm-rend_lower-latin{
    list-style-type: lower-latin;
    list-style-position: outside;
}
.rilm-list.rilm-rend_lower-greek{
    list-style-type: lower-greek;
    list-style-position: outside;
}
.rilm-list.rilm-rend_lower-roman{
    list-style-type: lower-roman;
    list-style-position: outside;
}
.rilm-list.rilm-rend_upper-latin{
    list-style-type: upper-latin;
    list-style-position: outside;
}
.rilm-list.rilm-rend_upper-greek{
    list-style-type: upper-greek;
    list-style-position: outside;
}
.rilm-list.rilm-rend_upper-roman{
    list-style-type: upper-roman;
    list-style-position: outside;
}
.rilm-mentioned{
    display: inline;
    font-style: italic;
}
.rilm-musNote{
    font-style: italic;
}
.rilm-div.rilm-type_heading .rilm-persName > .rilm-surname ~ .rilm-nameLink,
.rilm-div.rilm-type_heading .rilm-persName.rilm-type_preferred > .rilm-surname ~ .rilm-nameLink {
   font-weight: 600; 
}
.rilm-div.rilm-type_heading .rilm-persName.rilm-type_alt > .rilm-surname ~ .rilm-nameLink {
    font-weight: 400;
}
.rilm-note{
    display: inline;
    font-style: normal;
}/*XML CSS has display: inherit and no font-weight. Should it be the same as this?*/
.rilm-quote > .rilm-note{
    font-style: normal;
}
.rilm-rend_italic > .rilm-note{
    font-style: normal;
}
.rilm-rend_quoted-italic > .rilm-note{
    font-style: normal;
}
.rilm-head > .rilm-note, .rilm-cell > .rilm-note{
    text-transform: none;
    font-size: medium;
    font-weight: 400;
    display: inline;
    font-variant: normal;
    font-feature-settings: normal;
    -moz-font-feature-settings: normal;
    -webkit-font-feature-settings: normal;
}
.rilm-div.rilm-type_contents > .rilm-head > .rilm-note{
    font-size: inherit;
}
.rilm-note.rilm-type_editorial{
    display: none;
}
.rilm-orgName{
    font-style: italic;
}
.rilm-orgName.rilm-type_performing{
    font-style: italic;
}
.rilm-orgName.rilm-type_trans{
    font-style: normal;
}
.rilm-orgName.rilm-type_uni{
    font-style: normal;
}
.rilm-div.rilm-type_heading .rilm-orgName,
.rilm-div.rilm-type_heading .rilm-orgName.rilm-type_preferred{
    font-style: normal;    
    font-weight: 600;
}
.rilm-p{
    display: block;
    margin-bottom: 1.5em;
}
.rilm-p.rilm-rend_block{
    margin-left: 2em;
    text-indent: 0;
}
.rilm-cell > .rilm-p{
    text-indent: 0;
}
.rilm-div.rilm-type_heading > .rilm.p{
    font-size:1.25em;
}
.rilm-item > .rilm-p{
    text-indent: 0;
    display: inherit;
}
.rilm-quote > .rilm.p{
    font-style: italic;
}
.rilm-quote > .rilm-p:first-of-type{
    display: inline;
}
.rilm-quote > .rilm-p:last-of-type{
    display: inline;
}
.rilm-figure .rilm-head,
.rilm-figure .rilm-p,
.rilm-notatedMusic .rilm-head,
.rilm-notatedMusic .rilm-p,
.rilm-tableFigure .rilm-head,
.rilm-tableFigure .rilm-p{
    display: inline !important;
}
.rilm-text.rilm-type_family rilm.div.rilm-type_heading .rilm-div.rilm-type_contents .rilm-p{
    display: inline;
}
.rilm-docAuthor > .rilm-persName{
    display: inline;
}
/*        @supports(font-feature-settings: 'c2sc', 'smcp') {
    .rilm-docAuthor   .rilm-persName { 
    	font-size: 1.15em;  
    	text-transform: none;   
        -moz-font-feature-settings: "c2sc", "smcp";
        -webkit-font-feature-settings: "c2sc", "smcp";
        font-feature-settings: "c2sc", "smcp";
    }
}*/

.rilm-persName.rilm-type_alt{
    font-style: italic !important;
    font-weight: 400 !important;
}
.rilm-pitch{
    font-style: italic;
}
.rilm-publisher{
    display: inline;
}
.rilm-pubPlace{
    display: inline;
}
.rilm-q{
    display: inline;
    margin-top: 0em;
    margin-left: 0em;
    margin-right: 0em;
    margin-bottom: 0em;
}
.rilm-q:before{
    font-style: normal;
}
.rilm-q: after{
    font-style: normal;
}
.rilm-q.rilm-rend_left-double:before{
    font-style: normal;
}
.rilm-q.rilm-rend_right-double:after{
    font-style: normal;
}
.rilm-quote{
    display: inline;
    font-style: italic;
}
.rilm-quote:before{
    font-style: normal;
}
.rilm-quote:after{
    font-style: normal;
}
.rilm-ref{
    display: inline;
    color: rgb(40, 90, 153);
    background-color: inherit;
}
.rilm-rilmPerson.rilm-n:before{
    font-weight: 600;
}
.rilm-row{
    display: table-row; 
}
.rilm-div.rilm-type_works .rilm-row, .rilm-div.rilm-type_ography .rilm-row {
	border-top: 1px solid black;
}
.rilm-row.rilm-role_label{
    /*  text-transform: uppercase;*/
    font-family: 'Alegreya SC';
    font-weight: bold;
    font-size: 1.1em;
}
/*       @supports(font-feature-settings: 'c2sc', 'smcp') {
    .rilm-row.rilm-role_label {
        text-transform: none;
        font-size: 1.1em;
        -moz-font-feature-settings: 'c2sc', "smcp";
        -webkit-font-feature-settings: 'c2sc', "smcp";
        font-feature-settings: 'c2sc', "smcp";
    }
}*/
.rilm-row.rilm-rend_noborder {
	   border-top: none;
    border-bottom: none;
}
.rilm-soCalled:before{
    font-style: normal;
}
.rilm-soCalled:after{
    font-style: normal;
}
.rilm-rilmPerson.rilm-n > .rilm-persName > .rilm-surname {
    font-weight: 600;
    font-style: normal;
}
.rilm-div.rilm-type_person .rilm-p.rilm-n > .rilm-rilmPerson:first-of-type > .rilm-persName > .rilm-surname{
    font-weight: 600;
    font-style: normal;
}
.rilm-div.rilm-type_heading .rilm-persName > .rilm-surname,
.rilm-div.rilm-type_heading .rilm-persName.rilm-type_preferred > .rilm-surname {
    font-weight: 600;
}
.rilm-div.rilm-type_heading .rilm-persName.rilm-type_alt > .rilm-surname {
    font-style: italic !important;
    font-weight: 400 !important;
}
.rilm-table{
    display: table;
    text-indent: 0;
    text-align: center;
    border-collapse: collapse;
    margin: 1em;
}
.rilm-title{
    display: inline;
    font-style: italic;
}
.rilm-title.rilm-type_generic{
    font-style: normal;
}
.rilm-title.rilm-type_translated{
    font-style: normal;
}
.rilm-title.rilm-subtype_secondary{
    font-style: normal;
}
.rilm-title.rilm-type_incipit:before{
    font-style: normal;
}
.rilm-title.rilm-type_incipit:after{
    font-style: normal;
}
*.rilm-rend_quoted-italic:before{
    font-style: normal;
}
*.rilm-rend_quoted-italic:after{
    font-style: normal;
}
*.rilm-rend_bold{
    font-weight: 600;
}
*.rilm-rend_italic{
    display: inline;
    font-style: italic;
}
*.rilm-rend_roman{
    display: inline;
    font-style: normal;
    text-transform: inherit !important;
    font-variant: inherit !important;
}
*.rilm-rend_underline{
    display: inline;
    text-decoration: underline;
}
*.rilm-rend_uppercase{
    display: inline;
    text-transform: uppercase;
}
/*       @supports(font-feature-settings: 'c2sc', 'smcp') {
    *.rilm-rend_uppercase {
    	font-size: 1.1em;   
    	text-transform: none;  
        -moz-font-feature-settings: "c2sc", "smcp";
        -webkit-font-feature-settings: "c2sc", "smcp";
        font-feature-settings: "c2sc", "smcp";
    }
}*/
*.rilm-rend_smallcaps{
    display: inline;
    /*font-variant: small-caps;*/
    font-family: 'Alegreya SC';
    font-style: inherit;
}
/*  @supports(font-feature-settings: 'smcp') {
    .rilm-rend_smallcaps {
        font-variant: normal;
        -moz-font-feature-settings: "smcp";
        -webkit-font-feature-settings: "smcp";
        font-feature-settings: "smcp";
    }
}*/
*.rilm-rend_sup{
    display: inline;
    font-size: 75%;
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}
*.rilm-rend_sub{
    display: inline;
    font-size: 75%;
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}
*.rilm-rend_quoted-italic{
    display: inline;
    font-style: italic;
}
.rilm-teiHeader{
    display: none;
}

/*"XML-only" rules*/
.rilm-birth:before{
    content: "*";
}
.rilm-body {
    margin: 10px;
    display: block;
    font-size: 1em;
}
.rilm-death:before{
    content: "†";
}
.rilm-figure img,
.rilm-notatedMusic img,
.rilm-tableFigure img{
    zoom: 65%;
}/*Editorial System only*/
.rilm-gap:after{
    content: "[…]";
    font-weight: 600;
    color: red;
}
.rilm-graphic {
    color: gray;
    background-color: inherit;
    content: none !important;
    clear: both;
    border: 1px solid #000;
    margin: 5px 5px 5px 0;
    padding: 10px;
}
.rilm-head.rilm-n:before{
    content: attr(data-rilm-n) ". ";
}
.rilm-figure > .rilm-head:after,
.rilm-notatedMusic > .rilm-head:after,
.rilm-tableFigure > .rilm-head:after{
    content: " ";
}
.rilm-item.rilm-n:before{
    content: attr(data-rilm-n) ". ";
} /* should there be space after the content?
     And should default marker be suppressed
     when there is an @n attribute? --DRS */

.rilm-p.rilm-n:before{
    content: attr(data-rilm-n) ". ";
}
.rilm-text.rilm-type_topic .rilm-div.rilm-type_heading > .rilm-p {
    font-weight: 600;
}/*HTML CSS only*/
.rilm-q{
    display: inline;
    quotes: '»' '«' '›' '‹';
    margin-top: 0em;
    margin-left: 0em;
    margin-right: 0em;
    margin-bottom: 0em;
}
.rilm-title.rilm-type_incipit > .rilm-q{
    quotes: '›' '‹' '»' '«';
}
.rilm-quote > .rilm-q{
    quotes: '›' '‹' '»' '«';
}
.rilm-rend_quoted-italic > .rilm-q{
    quotes: '›' '‹' '»' '«';
}
.rilm-q.rilm-rend_single{
    quotes: '›' '‹';
}
.rilm-q.rilm-rend_single > .rilm-q{
    quotes: '›' '‹' '»' '«';
}
.rilm-q:before{
    content: open-quote;
}
.rilm-q:after{
    content: close-quote;
}
.rilm-q.rilm-rend_left-double{
    quotes: '»' '';
}
.rilm-q.rilm-rend_right-double{
    quotes: '' '«';
}
.rilm-q.rilm-rend_left-double:before{
    content: open-quote;
    font-style: normal;
}
.rilm-q.rilm-rend_right-double:after{
    content: close-quote;
    font-style: normal;
}
.rilm-quote{
    quotes: '»' '«' '›' '‹';
}
.rilm-q > .rilm-quote {
    quotes: '›' '‹' '»' '«';
}
.rilm-title.rilm-type_incipit > .rilm-quote{
    quotes: '›' '‹' '»' '«';
}
.rilm-rend_quoted-italic > .rilm-q{
    quotes: '›' '‹' '»' '«';
}
.rilm-quote:before{
    content: open-quote;
}
.rilm-quote:after{
    content: close-quote;
}
.rilm-ref[data-rilm-target *= "document"]:before{
    content: "→ ";
}
.rilm-rilmPerson.rilm-n:before{
    content: attr(data-rilm-n) ". ";
}/*HTML CSS only*/
.rilm-soCalled{
    quotes: '›' '‹';
}
.rilm-soCalled:before{
    content: open-quote;
}
.rilm-soCalled:after{
    content: close-quote;
}
.rilm-title.rilm-type_incipit{
    quotes: '»' '«' '›' '‹';
}
q > .rilm-title.rilm-type_incipit{
    quotes: '›' '‹' '»' '«';
}
quote > .rilm-title.rilm-type_incipit{
    quotes: '›' '‹' '»' '«';
}
.rilm-rend_quoted-italic > .rilm-title.rilm-type_incipit{
    quotes: '›' '‹' '»' '«';
}
.rilm-title.rilm-type_incipit:before{
    content: open-quote;
}
.rilm-title.rilm-type_incipit:after{
    content: close-quote;
}
.rilm-rend_quoted-italic{
    quotes: "»" "«" "›" "‹";
}
q > .rilm-rend_quoted-italic{
    quotes: '›' '‹' '»' '«';
}
quote > .rilm-rend_quoted-italic{
    quotes: '›' '‹' '»' '«';
}
.rilm-title.rilm-type_incipit > .rilm-rend_quoted-italic{
    quotes: '›' '‹' '»' '«';
}
.rilm-rend_quoted-italic:before{
    content: open-quote;
    font-style: normal;
}
.rilm-rend_quoted-italic:after{
    content: close-quote;
    font-style: normal;
}