/*@import url(https://fonts.typotheque.com/WF-027756-009318.css);*/
*{
    line-height: 1.75em;
}
abbr{
    display: inline;
}
bibl > author{
    display: inline;
    font-variant: small-caps;
}
@supports(font-feature-settings: 'smcp') {
    bibl > author {
        font-variant: normal;
        -moz-font-feature-settings: "smcp";
        -webkit-font-feature-settings: "smcp";
        font-feature-settings: "smcp";
    }
}
bibl > author[subtype = 'secondary']{
    font-variant: normal;
}
bibl{
    display: inline;
}
biblScope{
    display: inline;
}
body{
    font-weight: 400;
    /*font-family: 'Fedra Serif A', 'Bravura Text', Georgia, serif;*/
    font-family: 'Skolar PE TEST', Skolar, FreeSerif, 'Bravura Text', serif;
    font-variant-numeric: oldstyle-nums;
    font-feature-settings: "onum";
}
cell{
    display: table-cell;
    box-sizing: border-box;
    text-align: left;
    padding: 0.5em;
    position: relative;
}
cell[role = 'label'] {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.1em;
}
@supports(font-feature-settings: 'c2sc', 'smcp') {
    row[role='label'] {
        text-transform: none;  
        -moz-font-feature-settings: "c2sc", "smcp";
        -webkit-font-feature-settings: "c2sc", "smcp";
        font-feature-settings: "c2sc", "smcp";
    }
}
cit{
    display: inline;
}
cit[rend = 'block']{
    display: block;
    padding: 0 3em 0 3em;
    text-indent: 0;
}
date{
    display: inline;
}
div[type = 'contents']{
    display: block;
}
docAuthor{
    font-weight: 700;
    display: block;
    margin-bottom: 0.5em;
    margin-left: 2em;
}
bibl edition{
    display: inline;
}
bibl editor{
    display: inline;
}
bibl editor[subtype = "primary"]{
    font-variant: small-caps;
}
@supports(font-feature-settings: 'smcp') {
    bibl editor[subtype="primary"] {
        font-variant: normal;
        -moz-font-feature-settings: "smcp";
        -webkit-font-feature-settings: "smcp";
        font-feature-settings: "smcp";
    }
}
emph{
    display: inline;
    font-style: italic;
}
figure,
notatedMusic,
tableFigure{
    display: block;
    font-style: italic;
    margin: 2em;
}
foreign{
    display: inline;
    font-style: italic;
}
formula{
    display: inline;
    font-style: italic;
}
rilmPerson[n] > persName > forename{
    font-weight: 700;
    font-style: normal;
}
div[type = "person"] p[n] > rilmPerson:first-of-type > persName > forename{
    font-weight: 700;
    font-style: normal;
}
div[type = "family"] div[type = "bio"] > forename:first-of-type{
    font-weight: 700;
}
div[type = 'heading'] p persName[type = 'alt'] > surname,
div[type = 'heading'] p persName[type = 'alt'] > forename{
    font-style: italic;
    font-weight: 400;
}
graphic{
    display: block;
    border: 1px solid #000;
    margin: 5px 5px 5px 0;
    padding: 10px;
    background-color: inherit;
    content: none !important;
    clear: both;
}
formula > graphic{
    display: inline;
    border: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-indent: 0;
}
body > head{
    display: block;
    margin-left: 2em;
    margin-bottom: .25em;
    font-weight: 700;
}
div[type = "section"] > head{
    display: block;
    font-weight: 700;
    text-indent: 2em;
    margin-top: 1em;
}
div[type = "contents"] > head{
    text-transform: uppercase;
    font-size: .92em;
    font-weight: 700;
}
@supports(font-feature-settings: 'c2sc', 'smcp') {
    div[type="contents"] > head { 
    	font-size: 1em;     
    	text-transform: none; 
        -moz-font-feature-settings: "c2sc", "smcp";
        -webkit-font-feature-settings: "c2sc", "smcp";
        font-feature-settings: "c2sc", "smcp";
    }
}
head[n = A],
head[n = B],
head[n *= C],
head[n = D],
head[n = E],
head[n = F],
head[n = G],
head[n = H],
head[n *= I],
head[n = J],
head[n = K],
head[n = L],
head[n = M],
head[n = N],
head[n = O],
head[n = P],
head[n = Q],
head[n = R],
head[n = S],
head[n = T],
head[n = U],
head[n *= V],
head[n = W],
head[n *= X],
head[n = Y],
head[n = Z]{
    display: block;
    font-style: italic;
    text-indent: 2em;
} /*not in the Editorial System HTML CSS*/
div[type = 'ography'] head,
div[type = 'works'] head{
    font-style: normal;
} /*overrides the previous rule*/
div[type = "ography"] > head,
div[type = "works"] > head{
    text-transform: uppercase;
    font-weight: 700;
    text-indent: inherit;
    display: block;
    padding-top: 1em;
    font-size: .92em;
}
@supports(font-feature-settings: 'c2sc', 'smcp') {
    div[type="ography"] > head, div[type = "works"] > head  { 
    	font-size: 1.1em;  
    	text-transform: none;   
        -moz-font-feature-settings: "c2sc", "smcp";
        -webkit-font-feature-settings: "c2sc", "smcp";
        font-feature-settings: "c2sc", "smcp";
    }
}
head[n]:before{
    font-style: normal;
}
bibl idno{
    display: inline;
}
item{
    display: list-item;
}
item[n]:before{
    list-style: none;
}
p item{
    display: block
}
div[type = "contents"] list item{
    display: block;
}
div[type = "section"] list item,
div[type = "bio"] list item,
div[type = "criticism"] list item{
    display: block;
}
div[type = "ography"] list item,
div[type = "works"] list item{
    text-indent: -1.5em;
    display: list-item;
    padding-left: 1.5em;
    margin-bottom: .6em;
}
l{
    display: block;
    white-space: nowrap;
}
lb{
    display: block;
}
lg{
    display: block;
    margin-bottom: 0.5em;
}
div[type = "ography"] list,
div[type = "works"] list{
    display: block;
    list-style-type: none;
    margin-bottom: 1em;
    margin-top: .5em;
}
list[rend = "list"]{
    list-style-type: disc;
    list-style-position: outside;
}
list[rend = "inline"]{
    display: inline;
}
list[rend = "bulleted"]{
    list-style-type: disc;
    list-style-position: outside;
}
list[rend = "numbered"]{
    list-style-type: decimal;
    list-style-position: outside;
}
list[rend = "lower-latin"]{
    list-style-type: lower-latin;
    list-style-position: outside;
}
list[rend = "lower-greek"]{
    list-style-type: lower-greek;
    list-style-position: outside;
}
list[rend = "lower-roman"]{
    list-style-type: lower-roman;
    list-style-position: outside;
}
list[rend = "upper-latin"]{
    list-style-type: upper-latin;
    list-style-position: outside;
}
list[rend = "upper-greek"]{
    list-style-type: upper-greek;
    list-style-position: outside;
}
list[rend = "upper-roman"]{
    list-style-type: upper-roman;
    list-style-position: outside;
}
mentioned{
    display: inline;
    font-style: italic;
}
musNote{
    font-style: italic;
}
note{
    display: inherit;
    font-style: normal;
}
quote > note{
    font-style: normal;
}
*[rend = "italic"] > note{
    font-style: normal;
}
*[rend = "quoted-italic"] > note{
    font-style: normal;
}
head > note{
    text-transform: none;
    font-size: medium;
    font-weight: 400;
    display: inline;
    font-variant: normal;
    font-feature-settings: normal;
    -moz-font-feature-settings: normal;
    -webkit-font-feature-settings: normal;
}
note[type = "editorial"]{
    display: none;
}
orgName{
    font-style: italic;
}
orgName[type = 'performing']{
    font-style: italic;
}
orgName[type = 'trans']{
    font-style: normal;
}
orgName[type = 'uni']{
    font-style: normal;
}
div[type = 'heading'] orgName,
div[type = 'heading'] orgName[type = 'preferred']{
    font-style: normal;
    font-weight: 700;
}
p{
    text-indent: 2em;
    display: block;
}
p[rend = "block"]{
    margin-left: 2em;
    text-indent: 0;
}
p[n]:before{
    font-style: normal !important;
    font-weight: 700;
}
cell > p{
    text-indent: 0;
}
item > p{
    text-indent: 0;
    display: inherit;
}
quote > p{
    font-style: italic;
}

quote > p:first-of-type{
    display: inline;
}
quote > p:last-of-type{
    display: inline;
}
figure head,
figure p,
notatedMusic head,
notatedMusic p,
tableFigure head,
tableFigure p{
    display: inline !important;
}
docAuthor > persName{
    display: inline;
    text-transform: uppercase;
    font-size: .92em;
}
@supports(font-feature-settings: 'c2sc', 'smcp') {
    docAuthor > persName { 
    	font-size: 1.1em;  
    	text-transform: none;   
        -moz-font-feature-settings: "c2sc", "smcp";
        -webkit-font-feature-settings: "c2sc", "smcp";
        font-feature-settings: "c2sc", "smcp";
    }
}
persName[type = 'alt']{
    font-style: italic !important;
    font-weight: 400 !important;
}
pitch{
    font-style: italic;
}
publisher{
    display: inline;
}
pubPlace{
    display: inline;
}
q{
    display: inline;
    margin-top: 0em;
    margin-left: 0em;
    margin-right: 0em;
    margin-bottom: 0em;
}
q:before{
    font-style: normal;
}
q:after{
    font-style: normal;
}
q[rend = "left-double"]:before{
    font-style: normal;
}
q[rend = "right-double"]:after{
    font-style: normal;
}
quote{
    display: inline;
    font-style: italic;
}
quote:before{
    font-style: normal;
}
quote:after{
    font-style: normal;
}
ref{
    display: inline;
    color: rgb(40, 90, 153);
    background-color: inherit;
}
rilmPerson[n]:before{
    font-weight: 700;
}
row{
    display: table-row;
    border-top: 1px solid black;
}
row[role = 'label']{
    text-transform: uppercase;
    font-weight: 700;
}
@supports(font-feature-settings: 'c2sc', 'smcp') {
    row[role='label'] {
        text-transform: none;  
        font-size: 1.1em;
        -moz-font-feature-settings: "c2sc", "smcp";
        -webkit-font-feature-settings: "c2sc", "smcp";
        font-feature-settings: "c2sc", "smcp";
    }
}
row[rend = 'noborder']{
    border-top: none;
    border-bottom: none;
}
soCalled{
    display: inline;
}
soCalled:before{
    font-style: normal;
}
soCalled:after{
    font-style: normal;
}
rilmPerson[n] > persName > surname{
    font-weight: 700;
    font-style: normal;
}
div[type = 'person'] p[n] > rilmPerson:first-of-type > persName > surname{
    font-weight: 700;
    font-style: normal;
}
div[type = 'heading'] persName > surname,
div[type = 'heading'] persName[type = 'preferred'] > surname{
    font-weight: 700;
}
div[type = 'heading'] persName[type = 'alt'] > surname{
    font-style: italic !important;
    font-weight: 400 !important;
}
table{
    display: table;
    text-indent: 0;
    text-align: center;
    border-collapse: collapse;
    margin: 1em;
}
title{
    display: inline;
    font-style: italic;
}
title[type = 'generic']{
    font-style: normal;
}
title[type = 'translated']{
    font-style: normal;
}
title[subtype = "secondary"]{
    font-style: normal;
}
title[type = 'incipit']:before{
    font-style: normal;
}
title[type = 'incipit']:after{
    font-style: normal;
}
*[rend = "quoted-italic"]:before{
    font-style: normal;
}
*[rend = "quoted-italic"]:after{
    font-style: normal;
}
*[rend = "bold"]{
    font-weight: 700;
}
*[rend = "italic"]{
    display: inline;
    font-style: italic;
}
*[rend = "roman"]{
    display: inline;
    font-style: normal;
    text-transform: inherit !important;
    font-variant: inherit !important;
}
*[rend = "underline"]{
    display: inline;
    text-decoration: underline;
}
*[rend = "uppercase"]{
    display: inline;
    text-transform: uppercase;
}
@supports(font-feature-settings: 'c2sc', 'smcp') {
    *[rend="uppercase"] {
    	font-size: 1.1em;   
    	text-transform: none;  
        -moz-font-feature-settings: "c2sc", "smcp";
        -webkit-font-feature-settings: "c2sc", "smcp";
        font-feature-settings: "c2sc", "smcp";
    }
}
*[rend = "smallcaps"]{
    display: inline;
    font-variant: small-caps;
    font-style: inherit;
}
@supports(font-feature-settings: 'smcp') {
    *[rend="smallcaps"] {
        font-variant: normal;
        -moz-font-feature-settings: "smcp";
        -webkit-font-feature-settings: "smcp";
        font-feature-settings: "smcp";
    }
}
*[rend = "sup"]{
    display: inline;
    vertical-align: super;
    font-size: 60%;
}
*[rend = "sub"]{
    display: inline;
    vertical-align: sub;
    font-size: 60%;
}
*[rend = "quoted-italic"]{
    display: inline;
    font-style: italic;
}
teiHeader{
    display: none
}

/*XML only rules*/
@font-face{
    font-family: 'Bravura Text';
    src: url('http://rilm.info/ft/fonts/BravuraText.woff') format('woff')
}
@font-face{
    font-family: FreeSerif;
    src: url('http://rilm.info/ft/fonts/FreeSerif.woff') format('woff')
}
@font-face{
    font-family: Skolar;
    src: url('http://rilm.info/ft/fonts/SkolarPETEST-Regular.woff') format('woff')
}
@font-face{
    font-family: Skolar;
    font-style: italic;
    src: url('http://rilm.info/ft/fonts/SkolarPETEST-Italic.woff') format('woff')
}
@font-face{
    font-family: Skolar;
    font-weight: 700;
    src: url('http://rilm.info/ft/fonts/SkolarPETEST-Bold.woff') format('woff')
}
@font-face{
    font-family: Skolar;
    font-style: italic;
    font-weight: 700;
    src: url('http://rilm.info/ft/fonts/SkolarPETEST-BoldItalic.woff') format('woff')
}
birth:before{
    content: "*";
}
body{
    margin: 10px;
    display: block;
    font-size: 1em;
}
death:before{
    content: "†";
}
figure,
notatedMusic,
tableFigure{
    /*font-size: 1.4em;*/
    /*zoom: 65%;*/
}
gap:after{
    content: "[…]";
    font-weight: 700;
    color: red;
}
head[n]:before{
    content: attr(n) ". ";
}
figure > head:after,
notatedMusic > head:after,
tableFigure > head:after{
    content: " ";
}
item[n]:before{
    content: attr(n) ". ";
}
p[n]:before{
    content: attr(n) ". ";
}
q{
    quotes: '»\200A' '\200A«' '›\200A' '\200A‹';
}
q[rend = "single"]{
    quotes: '›\200A' '\200A‹';
}
quote > q{
    quotes: '›\200A' '\200A‹';
}
q:before{
    content: open-quote;
}
q:after{
    content: close-quote;
}
q[rend = "left-double"]{
    quotes: '»\200A' '';
}
q[rend = "right-double"]{
    quotes: '\200A«' '';
}
q[rend = "left-double"]:before{
    content: open-quote;
}
q[rend = "right-double"]:after{
    content: close-quote;
}
quote{
    quotes: '»\200A' '\200A«' '›\200A' '\200A‹';
}
q > quote{
    quotes: '›\200A' '\200A‹';
}
quote:before{
    content: open-quote;
}
quote:after{
    content: close-quote;
}
ref[target *= 'document']:before{
    content: "→ ";
}
rilmPerson[n]:before{
    content: attr(n) ". ";
}
soCalled{
    quotes: "›\200A" "\200A‹";
}
soCalled:before{
    content: open-quote;
}
soCalled:after{
    content: close-quote;
}
title[type = 'incipit']{
    quotes: '»\200A' '\200A«' '›\200A' '\200A‹';
}
title[type = 'incipit']:before{
    content: open-quote;
}
title[type = 'incipit']:after{
    content: close-quote;
}
*[rend = "quoted-italic"]{
    quotes: '»\200A' '\200A«' '›\200A' '\200A‹';
}
*[rend = "quoted-italic"]:before{
    content: open-quote;
}
*[rend = "quoted-italic"]:after{
    content: close-quote;
}