@import url(https://fonts.googleapis.com/css?family=Alegreya+SC:400,700|Alegreya:400,400i,700,700i&subset=latin-ext);
/*@import url(https://fonts.typotheque.com/WF-027756-009318.css);*/
div{
    display: inline;
    margin: 0px;
}
div.rilm-nodename-div,
div.rilm-nodename-p{
    clear: both;
    display: block;
    margin: 10px 0 10px 0;
}
.rilm-p > img{
    height: 1em;
    width: auto;
    display: inline;
    border: none;
    margin: 0 0 0 0;
    padding: 0 0 0 .5em;
    color: inherit;
}
.rilm-formula > img{
    height: 1.2em;
    vertical-align: text-bottom;
    color: inherit;
}
@font-face{
    font-family: 'Bravura Text';
    src: url('/public/rilm-common/fonts/BravuraText.woff') format('woff')
}
@font-face{
    font-family: FreeSerif;
    src: url('/public/rilm-common/fonts/FreeSerif.woff') format('woff')
}
@font-face{
    font-family: Skolar;
    font-style: normal;
    src: url('/public/rilm-common/fonts/SkolarPETEST-Regular.woff') format('woff');
}
@font-face{
    font-family: Skolar;
    font-style: italic;
    src: url('/public/rilm-common/fonts/SkolarPETEST-Italic.woff') format('woff');
}
@font-face{
    font-family: Skolar;
    font-style: normal;
    font-weight: 700;
    src: url('/public/rilm-common/fonts/SkolarPETEST-Bold.woff') format('woff');
}
@font-face{
    font-family: Skolar;
    font-style: italic;
    font-weight: 700;
    src: url('/public/rilm-common/fonts/SkolarPETEST-BoldItalic.woff') format('woff');
}
*{
    line-height: 1.75em;
}
.rilm-abbr{
    display: inline;
}
.rilm-bibl .rilm-author{
    display: inline;
    /*font-variant: small-caps;*/
    font-family: 'Alegreya SC';
}
/*  @supports(font-feature-settings: 'smcp') {
    .rilm-bibl .rilm-author {
        font-variant: normal;
        -moz-font-feature-settings: "smcp";
        -webkit-font-feature-settings: "smcp";
        font-feature-settings: "smcp";
    }
}*/
.rilm-bibl .rilm-author.rilm-subtype_secondary{
    font-variant: normal;
}
.rilm-bibl{
    display: inline;
}
.rilm-biblScope{
    display: inline;
}
.rilm-body{
    font-weight: 400;
    font-family: Alegreya, 'Bravura Text', Georgia, serif;
    /*font-family: Skolar, sans-serif, 'Bravura Text';*/
    font-variant-numeric: oldstyle-nums;
    font-feature-settings: "onum";
}
.rilm-cell{
    display: table-cell;
    box-sizing:border-box;
	text-align:left;
	padding: 0.5em;
	position: relative;
}
.rilm-cit{
    display: inline;
}
.rilm-cit.rilm-rend_block{
    display: block;
    padding: 0 3em 0 3em;
    text-indent: 0;
}
.rilm-date{
    display: inline;
}
.rilm-div.rilm-type_contents{
    display: block;
}
.rilm-docAuthor{
    font-weight: bold;
    display: block;
    margin-bottom: 0.5em;
    margin-left: 2em;
}
.rilm-bibl .rilm-edition{
    display: inline;
}
.rilm-bibl .rilm-editor{
    display: inline;
}
.rilm-bibl .rilm-editor.rilm-subtype_primary{
    /*font-variant: small-caps;*/
    font-family: 'Alegreya SC';
}
/*    @supports(font-feature-settings: 'smcp') {
    .rilm-bibl  .rilm-editor.rilm-subtype_primary {
        font-variant: normal;
        -moz-font-feature-settings: "smcp";
        -webkit-font-feature-settings: "smcp";
        font-feature-settings: "smcp";
    }
}*/
.rilm-emph{
    display: inline;
    font-style: italic;
}
.rilm-figure,
.rilm-notatedMusic,
.rilm-tableFigure{
    display: block;
    font-style: italic;
    margin: 2em 0em 2em 2em;
}
.rilm-foreign{
    display: inline;
    font-style: italic;
}
.rilm-formula{
    display: inline;
    font-style: italic;
}
.rilm-rilmPerson.rilm-n > .rilm-persName > .rilm-forename{
    font-weight: bold;
    font-style: normal;
}
.rilm-div.rilm-type_person .rilm-p.rilm-n > .rilm-rilmPerson:first-of-type > .rilm-persName > .rilm-forename{
    font-weight: bold;
    font-style: normal;
}
.rilm-div.rilm-type_family .rilm-div.rilm-type_bio .rilm-forename:first-of-type{
    font-weight: bold;
}
.rilm-div.rilm-type_heading .rilm-p .rilm-persName.rilm-type_alt .rilm-forename{
    font-style: italic;
    font-weight: normal;
}
.rilm-graphic{
    display: block;
}
.rilm-formula > .rilm-graphic{
    display: inline;
    border: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-indent: 0;
}
.rilm-body > .rilm-head{
    display: block;
    margin-left: 2em;
    margin-bottom: .25em;
    font-weight: bold;
}
.rilm-div.rilm-type_section > .rilm-head{
    display: block;
    font-weight: bold;
    text-indent: 2em;
    margin-top: 1em;
}
.rilm-div.rilm-type_contents .rilm-head{
    text-transform: uppercase;
    font-size: smaller;
    font-weight: bold;
}
/*       @supports(font-feature-settings: 'c2sc', 'smcp') {
    .rilm-div.rilm-type_contents   .rilm-head { 
    	font-size: 1em;     
    	text-transform: none; 
        -moz-font-feature-settings: "c2sc", "smcp";
        -webkit-font-feature-settings: "c2sc", "smcp";
        font-feature-settings: "c2sc", "smcp";
    }
}*/
.rilm-div.rilm-type_ography .rilm-head, .rilm-div.rilm-type_works .rilm-head {
	font-style: normal;
}
.rilm-div.rilm-type_ography > .rilm-head, .rilm-div.rilm-type_works > .rilm-head{
    text-transform: uppercase;
    font-weight: bold;
    text-indent: inherit;
    display: block;
    padding-top: 1em;
    font-size: .92em;
}
/*       @supports(font-feature-settings: 'c2sc', 'smcp') {
    .rilm-div.rilm-type_ography > .rilm-head  { 
    	font-size: 1.1em;  
    	text-transform: none;   
        -moz-font-feature-settings: "c2sc", "smcp";
        -webkit-font-feature-settings: "c2sc", "smcp";
        font-feature-settings: "c2sc", "smcp";
    }
}*/
.rilm-bibl .rilm-idno{
    display: inline;
}
.rilm-item{
    display: list-item;
}
.rilm-p .rilm-item{
    display: block
}
.rilm-type_contents .rilm-list .rilm-item{
    display: block;
}
.rilm-type_section .rilm-list .rilm-item,
.rilm-type_bio .rilm-list .rilm-item,
.rilm-type_criticism .rilm-list .rilm-item{
    display: block;
}
.rilm-type_ography .rilm-list .rilm-item,
.rilm-type_works .rilm-list .rilm-item{
    text-indent: -1.5em;
    display: list-item;
    padding-left: 1.5em;
    margin-bottom: .6em;
}
.rilm-l{
    display: block;
    white-space: nowrap;
}
.rilm-lb{
    display: block;
}
.rilm-lg{
    display: block;
    margin-bottom: 0.5em;
}
.rilm-type_ography .rilm-list,
.rilm-type_works .rilm-list{
    display: block;
    list-style-type: none;
    margin-bottom: 1em;
    margin-top: .5em;
}
.rilm-list.rilm-rend_list{
    list-style-type: disc;
    list-style-position: outside;
}
.rilm-list.rilm-rend_inline{
    display: inline;
}
.rilm-list.rilm-rend_bulleted{
    list-style-type: disc;
    list-style-position: outside;
}
.rilm-list.rilm-rend_numbered{
    list-style-type: decimal;
    list-style-position: outside;
}
.rilm-list.rilm-rend_lower-latin{
    list-style-type: lower-latin;
    list-style-position: outside;
}
.rilm-list.rilm-rend_lower-greek{
    list-style-type: lower-greek;
    list-style-position: outside;
}
.rilm-list.rilm-rend_lower-roman{
    list-style-type: lower-roman;
    list-style-position: outside;
}
.rilm-list.rilm-rend_upper-latin{
    list-style-type: upper-latin;
    list-style-position: outside;
}
.rilm-list.rilm-rend_upper-greek{
    list-style-type: upper-greek;
    list-style-position: outside;
}
.rilm-list.rilm-rend_upper-roman{
    list-style-type: upper-roman;
    list-style-position: outside;
}
.rilm-mentioned{
    display: inline;
    font-style: italic;
}
.rilm-musNote{
    font-style: italic;
}
.rilm-note{
    display: inherit;
    font-style: normal;
}
.rilm-quote > .rilm-note{
    font-style: normal;
}
.rilm-rend_italic > .rilm-note{
    font-style: normal;
}
.rilm-rend_quoted-italic > .rilm-note{
    font-style: normal;
}
.rilm-head .rilm-note{
    text-transform: none;
    font-size: medium;
    font-weight: normal;
    display: inline;
    font-variant: normal;
    font-feature-settings: normal;
    -moz-font-feature-settings: normal;
    -webkit-font-feature-settings: normal;
}
/*stopped here*/
.rilm-note.rilm-type_editorial{
    display: none;
}
.rilm-orgName.rilm-type_performing{
    font-style: italic;
}
.rilm-orgName.rilm-type_trans{
    font-style: normal;
}
.rilm-orgName.rilm-type_uni{
    font-style: normal
}
.rilm-div.rilm-type_heading .rilm-orgName,
.rilm-div.rilm-type_heading .rilm-orgName.rilm-type_preferred{
    font-weight: bold;
}
.rilm-p{
    text-indent: 2em;
    display: block;
}
.rilm-p.rilm-rend_block{
    margin-left: 2em;
    text-indent: 0;
}
.rilm-cell > .rilm-p{
    text-indent: 0;
}
.rilm-item > .rilm-p{
    text-indent: 0;
    display: inherit;
}
.rilm-quote > .rilm.p{
    font-style: italic;
}
.rilm-quote > .rilm-p:first-of-type{
    display: inline;
}
.rilm-quote > .rilm-p:last-of-type{
    display: inline;
}
.rilm-figure .rilm-head,
.rilm-figure .rilm-p,
.rilm-notatedMusic .rilm-head,
.rilm-notatedMusic .rilm-p,
.rilm-tableFigure .rilm-head,
.rilm-tableFigure .rilm-p{
    display: inline !important;
}
.rilm-docAuthor .rilm-persName{
    display: inline;
    text-transform: uppercase;
}
/*        @supports(font-feature-settings: 'c2sc', 'smcp') {
    .rilm-docAuthor   .rilm-persName { 
    	font-size: 1.3em;  
    	text-transform: none;   
        -moz-font-feature-settings: "c2sc", "smcp";
        -webkit-font-feature-settings: "c2sc", "smcp";
        font-feature-settings: "c2sc", "smcp";
    }
}*/

.rilm-persName.rilm-type_alt{
    font-style: italic !important;
    font-weight: normal !important;
}
.rilm-pitch{
    font-style: italic;
}
.rilm-publisher{
    display: inline;
}
.rilm-pubPlace{
    display: inline;
}
.rilm-ref{
    display: inline;
}
.rilm-row{
    display: table-row;
    border-top: 1px solid black;
}
.rilm-row.rilm-role_label{
    /*  text-transform: uppercase;*/
    font-family: 'Alegreya SC';
    font-weight: bold;
    font-size: 1.1em;
}
/*       @supports(font-feature-settings: 'c2sc', 'smcp') {
    .rilm-row.rilm-role_label {
        text-transform: none;
        -moz-font-feature-settings: 'c2sc', "smcp";
        -webkit-font-feature-settings: 'c2sc', "smcp";
        font-feature-settings: 'c2sc', "smcp";
    }
}*/
.rilm-row.rilm-rend_noborder {
	   border-top: none;
    border-bottom: none;
}
.rilm-rilmPerson.rilm-n > .rilm-persName > .rilm-surname {
    font-weight: bold;
    font-style: normal;
}
.rilm-div.rilm-type_person .rilm-p.rilm-n > .rilm-rilmPerson:first-of-type > .rilm-persName > .rilm-surname{
    font-weight: bold;
    font-style: normal;
}
.rilm-div.rilm-type_heading .rilm-persName .rilm-surname,
.rilm-div.rilm-type_heading .rilm-persName.rilm-type_preferred .rilm-surname {
    font-weight: bold;
}
.rilm-div.rilm-type_heading .rilm-persName.rilm-type_alt > .rilm-surname {
    font-style: italic !important;
    font-weight: normal !important;
}
.rilm-table{
    display: table;
    text-indent: 0;
    text-align: center;
				border-collapse: collapse;
}
.rilm-title{
    display: inline;
    font-style: italic;
}
.rilm-title.rilm-type_generic{
    font-style: normal;
}
.rilm-title.rilm-type_translated{
    font-style: normal;
}
.rilm-title.rilm-subtype_secondary{
    font-style: normal;
}
*.rilm-rend_bold{
    display: inline;
    font-weight: bold;
}
*.rilm-rend_italic{
    display: inline;
    font-style: italic;
}
*.rilm-rend_roman{
    display: inline;
    font-style: normal;
    font-variant: inherit !important;
    text-transform: inherit !important;
}
*.rilm-rend_underline{
    display: inline;
    text-decoration: underline;
}
*.rilm-rend_uppercase{
    display: inline;
    text-transform: uppercase;
}
/*       @supports(font-feature-settings: 'c2sc', 'smcp') {
    *.rilm-rend_uppercase {
    	font-size: 1.1em;   
    	text-transform: none;  
        -moz-font-feature-settings: "c2sc", "smcp";
        -webkit-font-feature-settings: "c2sc", "smcp";
        font-feature-settings: "c2sc", "smcp";
    }
}*/
*.rilm-rend_smallcaps{
    display: inline;
    /*font-variant: small-caps;*/
    font-family: 'Alegreya SC';
    font-style: inherit;
}
/*  @supports(font-feature-settings: 'smcp') {
    .rilm-rend_smallcaps {
        font-variant: normal;
        -moz-font-feature-settings: "smcp";
-webkit-font-feature-settings: "smcp";
font-feature-settings: "smcp";
    }
}*/
*.rilm-rend_sup{
    display: inline;
    vertical-align: super;
    font-size: 60%;
}
*.rilm-rend_sub{
    display: inline;
    vertical-align: sub;
    font-size: 60%;
}
*.rilm-rend_quoted-italic{
    display: inline;
    font-style: italic;
}
.rilm-teiHeader{
    display: none;
}

/*"XML-only" rules*/
.rilm-birth:before{
    content: "*";
}
.rilm-body {
	    margin: 10px 40px 10px 50px;
    display: block;
    font-size: 1em;
}
.rilm-death:before{
    content: "†";
}
.rilm-figure,
.rilm-notatedMusic,
.rilm-tableFigure{
    font-size: 1.4em;
    zoom: 65%;
}
.rilm-gap:after{
    content: "[…]";
    font-weight: bold;
    color: red;
}
.rilm-graphic {
	   color: gray;
    background-color: inherit;
    content: none !important;
    clear: both;
    border: 1px solid #000;
    margin: 5px 5px 5px 0;
    padding: 10px;
}
.rilm-head.rilm-n:before{
    content: attr(data-rilm-n) ". " !important;
    font-style: normal !important;
}
.rilm-figure > .rilm-head:after,
.rilm-notatedMusic > .rilm-head:after,
.rilm-tableFigure > .rilm-head:after{
    content: " ";
}
.rilm-item.rilm-n:before{
    content: attr(data-rilm-n) ". " !important;
    list-style: none;
} /* should there be space after the content?
     And should default marker be suppressed
     when there is an @n attribute? --DRS */
.rilm-p.rilm-n:before{
    content: attr(data-rilm-n) ". " !important;
    font-style: normal !important;
    font-weight: bold;
}
.rilm-q{
    display: inline;
    quotes: '»\200A' '\200A«' '›\200A' '\200A‹';
    margin-top: 0em;
    margin-left: 0em;
    margin-right: 0em;
    margin-bottom: 0em;
}
.rilm-q.rilm-rend_single{
    quotes: '›\200A' '\200A‹';
}
.rilm-quote > .rilm-q{
    quotes: '›\200A' '\200A‹';
}
.rilm-q > .rilm-quote{
    quotes: '›\200A' '\200A‹';
}
.rilm-q:before{
    content: open-quote;
    font-style: normal;
}
.rilm-q:after{
    content: close-quote;
    font-style: normal;
}
.rilm-q.rilm-rend_left-double{
    quotes: '»\200A' '';
}
.rilm-q.rilm-rend_right-double{
    quotes: '\200A«' '';
}
.rilm-q.rilm-rend_left-double:before{
    content: open-quote;
    font-style: normal;
}
.rilm-q.rilm-rend_right-double:after{
    content: close-quote;
    font-style: normal;
}
.rilm-quote{
    display: inline;
    font-style: italic;
    quotes: '»\200A' '\200A«' '›\200A' '\200A‹';
}
.rilm-q > .rilm-quote {
				quotes: '›\200A' '\200A‹';
}
.rilm-quote:before{
    content: open-quote;
    font-style: normal;
}
.rilm-quote:after{
    content: close-quote;
    font-style: normal;
}
.rilm-ref{
    color: blue;
    background-color: inherit;
}
.rilm-ref[data-rilm-target *= "document"]:before{
    content: "→ ";
}
.rilm-rilmPerson.rilm-n:before{
    content: attr(data-rilm-n) ". " !important;
    font-weight: bold;
}
.rilm-soCalled{
    display: inline;
    quotes: '›\200A' '\200A‹';
}
.rilm-soCalled:before{
    content: open-quote;
    font-style: normal;
}
.rilm-soCalled:after{
    content: close-quote;
    font-style: normal;
}
.rilm-table {
				margin: 1em;
}
.rilm-title.rilm-type_incipit{
    quotes: '»\200A' '\200A«' '›\200A' '\200A‹';
}
.rilm-title.rilm-type_incipit:before{
    content: open-quote;
    font-style: normal;
}
.rilm-title.rilm-type_incipit:after{
    content: close-quote;
    font-style: normal;
}
*.rilm-rend_quoted-italic{
    quotes: "»\200A" "\200A«" "›\200A" "\200A‹";
}
*.rilm-rend_quoted-italic:before{
    content: open-quote;
    font-style: normal;
}
*.rilm-rend_quoted-italic:after{
    content: close-quote;
    font-style: normal;
}